<fieldset #importPointReadAddForm="ngForm" ngForm autocomplete="off" [disabled]="_submitClicked">
  <div class="form-group row">
    <label class="col-4">Region</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !region.errors && (region.dirty || region.touched),'is-invalid': region.errors && (region.dirty || region.touched)}"
        class="form-control" [(ngModel)]="formData.region" #region="ngModel" id="region"  name="region" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let region of regionList" [ngValue]="region">{{region.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="region.errors && (region.dirty || region.touched)">
        <div [hidden]="!region.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Circle</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !circle.errors && (circle.dirty || circle.touched),'is-invalid': circle.errors && (circle.dirty || circle.touched)}"
        class="form-control" [(ngModel)]="formData.circle" #circle="ngModel" id="circle"  name="circle" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let circle of circleList" [ngValue]="circle">{{circle.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="circle.errors && (circle.dirty || circle.touched)">
        <div [hidden]="!circle.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Division</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !division.errors && (division.dirty || division.touched),'is-invalid': division.errors && (division.dirty || division.touched)}"
        class="form-control" [(ngModel)]="formData.division" #division="ngModel" id="division"  name="division" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="division.errors && (division.dirty || division.touched)">
        <div [hidden]="!division.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Zone</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
        class="form-control" [(ngModel)]="formData.zone" #zone="ngModel" id="zone"  name="zone" required (change)="!zone.errors && zoneChanged(formData.zone)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let zone of zoneList" [ngValue]="zone">{{zone.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
        <div [hidden]="!zone.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Feeder Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !feederName.errors && (feederName.dirty || feederName.touched),'is-invalid': feederName.errors && (feederName.dirty || feederName.touched)}"
        class="form-control" [(ngModel)]="formData.importPointFeeder" #feederName="ngModel" id="feederName"  name="feederName" required (change)="!feederName.errors && feederChanged(formData.importPointFeeder)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let importPointFeeder of importPointFeederList" [ngValue]="importPointFeeder">{{importPointFeeder.name | uppercase}}</option>
      </select>
        <div class="invalid-feedback" *ngIf="feederName.errors && (feederName.dirty || feederName.touched)">
        <div [hidden]="!feederName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Import Location Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !importLocationName.errors && (importLocationName.dirty || importLocationName.touched),'is-invalid': importLocationName.errors && (importLocationName.dirty || importLocationName.touched)}"
        class="form-control" [(ngModel)]="formData.importPointLocation" #importLocationName="ngModel" id="importLocationName"  name="importLocationName" required (change)="!importLocationName.errors && importLocationNameChanged(formData.importPointLocation)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let importPointLocation of importPointLocationList" [ngValue]="importPointLocation">{{importPointLocation.locationName | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="importLocationName.errors && (importLocationName.dirty || importLocationName.touched)">
        <div [hidden]="!importLocationName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Meter MF</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !meterMF.errors && (meterMF.dirty || meterMF.touched),'is-invalid': meterMF.errors && (meterMF.dirty || meterMF.touched)}"
        class="form-control" [ngModel]="formData.importPointLocation?.mf" #meterMF="ngModel" id="meterMF"  name="meterMF" required readonly>
      <div class="invalid-feedback" *ngIf="meterMF.errors && (meterMF.dirty || meterMF.touched)">
        <div [hidden]="!meterMF.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Meter No</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !meterNo.errors && (meterNo.dirty || meterNo.touched),'is-invalid': meterNo.errors && (meterNo.dirty || meterNo.touched)}"
        class="form-control" [ngModel]="formData.importPointLocation?.meterNo" #meterNo="ngModel" id="meterNo"  name="meterNo" required readonly>
      <div class="invalid-feedback" *ngIf="meterNo.errors && (meterNo.dirty || meterNo.touched)">
        <div [hidden]="!meterNo.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Previous Reading</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !previousReading.errors && (previousReading.dirty || previousReading.touched),'is-invalid': previousReading.errors && (previousReading.dirty || previousReading.touched)}"
        class="form-control" [ngModel]="formData.previousRead" #previousReading="ngModel" id="previousReading"  name="previousReading" required readonly>
      <div class="invalid-feedback" *ngIf="previousReading.errors && (previousReading.dirty || previousReading.touched)">
        <div [hidden]="!previousReading.errors.required">required field</div>
        <div [hidden]="!previousReading.errors.min || previousReading.errors.required">invalid value</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Previous Reading Date</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !prevReadingDate.errors && (prevReadingDate.dirty || prevReadingDate.touched),'is-invalid': prevReadingDate.errors && (prevReadingDate.dirty || prevReadingDate.touched)}"
        class="form-control" [ngModel]="(formData.previousReadDate | date : globalConstants.DATE_FORMAT | uppercase)" #prevReadingDate="ngModel" id="prevReadingDate"  name="prevReadingDate" required readonly>
      <div class="invalid-feedback" *ngIf="prevReadingDate.errors && (prevReadingDate.dirty || prevReadingDate.touched)">
        <div [hidden]="!prevReadingDate.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Previous Bill Month</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !prevBillMonth.errors && (prevBillMonth.dirty || prevBillMonth.touched),'is-invalid': prevBillMonth.errors && (prevBillMonth.dirty || prevBillMonth.touched)}"
        class="form-control" [ngModel]="formData.previousBillMonth | uppercase" #prevBillMonth="ngModel" id="prevBillMonth"  name="prevBillMonth" required readonly>
      <div class="invalid-feedback" *ngIf="prevBillMonth.errors && (prevBillMonth.dirty || prevBillMonth.touched)">
        <div [hidden]="!prevBillMonth.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4"><strong>Bill Month for Current Reading</strong></label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !currentReadingBillMonth.errors && (currentReadingBillMonth.dirty || currentReadingBillMonth.touched),'is-invalid': currentReadingBillMonth.errors && (currentReadingBillMonth.dirty || currentReadingBillMonth.touched)}"
        class="form-control" [ngModel]="formData.billMonth" #currentReadingBillMonth="ngModel" id="currentReadingBillMonth"  name="currentReadingBillMonth" required readonly>
      <div class="invalid-feedback" *ngIf="currentReadingBillMonth.errors && (currentReadingBillMonth.dirty || currentReadingBillMonth.touched)">
        <div [hidden]="!currentReadingBillMonth.errors.required">required field</div>
        <div [hidden]="!currentReadingBillMonth.errors.min || currentReadingBillMonth.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Current Reading</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !currentReading.errors && (currentReading.dirty || currentReading.touched),'is-invalid': currentReading.errors && (currentReading.dirty || currentReading.touched)}"
        class="form-control" [(ngModel)]="formData.currentReading" #currentReading="ngModel" id="currentReading"  name="currentReading" [min]="(formData.previousRead)" step="0.001" required (change)="!currentReading.errors && currentReadingChanged()">
      <div class="invalid-feedback" *ngIf="currentReading.errors && (currentReading.dirty || currentReading.touched)">
        <div [hidden]="!currentReading.errors.required">required field</div>
        <div [hidden]="!currentReading.errors.min || currentReading.errors.required">can not be less than Previous/start read {{formData.newMeterStartRead?.toString().length ? formData.newMeterStartRead :  formData.previousRead}}</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Current Reading Date</label>
    <div class="col-8">
      <input type="date" [ngClass]="{'is-valid': !currentReadingDate.errors && (currentReadingDate.dirty || currentReadingDate.touched),'is-invalid': currentReadingDate.errors && (currentReadingDate.dirty || currentReadingDate.touched)}"
        class="form-control" [(ngModel)]="formData.currentReadingDate" #currentReadingDate="ngModel" id="currentReadingDate"  name="currentReadingDate"  [min]="(formData.previousReadDate)" required (change)="!currentReadingDate.errors && currentReadingDateChanged()">
      <div class="invalid-feedback" *ngIf="currentReadingDate.errors && (currentReadingDate.dirty || currentReadingDate.touched)">
        <div [hidden]="!currentReadingDate.errors.required">required field</div>
        <div [hidden]="!currentReadingDate.errors.min || currentReadingDate.errors.required">can not be less than previous-read/meter-replacement-date {{formData.meterReplacementDate ? (formData.meterReplacementDate | date : globalConstants.DATE_FORMAT | uppercase) : (formData.previousReadDate | date : globalConstants.DATE_FORMAT |uppercase)}} </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Difference</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !readDifference.errors && (readDifference.dirty || readDifference.touched),'is-invalid': readDifference.errors && (readDifference.dirty || readDifference.touched)}"
        class="form-control" [ngModel]="formData.difference" #readDifference="ngModel" id="readDifference"  name="readDifference" required readonly>
      <div class="invalid-feedback" *ngIf="readDifference.errors && (readDifference.dirty || readDifference.touched)">
        <div [hidden]="!readDifference.errors.required">required field</div>
      </div>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-4">Metered Consumption</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !meteredConsumption.errors && (meteredConsumption.dirty || meteredConsumption.touched),'is-invalid': meteredConsumption.errors && (meteredConsumption.dirty || meteredConsumption.touched)}"
        class="form-control" [ngModel]="formData.consumption" #meteredConsumption="ngModel" id="meteredConsumption"  name="meteredConsumption"required readonly>
      <div class="invalid-feedback" *ngIf="meteredConsumption.errors && (meteredConsumption.dirty || meteredConsumption.touched)">
        <div [hidden]="!meteredConsumption.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Assessment Units</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !assessmentUnit.errors && (assessmentUnit.dirty || assessmentUnit.touched),'is-invalid': assessmentUnit.errors && (assessmentUnit.dirty || assessmentUnit.touched)}"
        class="form-control" [(ngModel)]="formData.assessment" #assessmentUnit="ngModel" id="assessmentUnit"  name="assessmentUnit" [min]="0" step="0" required (change)="!assessmentUnit.errors && assessmentUnitChanged()">
      <div class="invalid-feedback" *ngIf="assessmentUnit.errors && (assessmentUnit.dirty || assessmentUnit.touched)">
        <div [hidden]="!assessmentUnit.errors.required">required field</div>
        <div [hidden]="!assessmentUnit.errors.min || assessmentUnit.errors.required">invalid value</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Total Consumption</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !totalConsumption.errors && (totalConsumption.dirty || totalConsumption.touched),'is-invalid': totalConsumption.errors && (totalConsumption.dirty || totalConsumption.touched)}"
        class="form-control" [ngModel]="formData.totalConsumption" #totalConsumption="ngModel" id="totalConsumption"  name="totalConsumption"required readonly>
      <div class="invalid-feedback" *ngIf="totalConsumption.errors && (totalConsumption.dirty || totalConsumption.touched)">
        <div [hidden]="!totalConsumption.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4 offset-4">
      <button type="button" class="btn btn-success btn-block" (click)="submitClicked(importPointReadAddForm)">
        Submit <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="_submitClicked"></span>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-danger btn-block" (click)="resetClicked(importPointReadAddForm)">Reset</button>
    </div>
  </div>
</fieldset>