<div class="eas-space-between mb-2">
  <div class="inner-group">
    <small class="form-text text-muted">Zone</small>
    <select [ngClass]="{'is-valid': !selectedZone.errors && (selectedZone.dirty || selectedZone.touched),'is-invalid': selectedZone.errors && (selectedZone.dirty || selectedZone.touched)}"
      class="form-control form-control-sm" [(ngModel)]="zone" #selectedZone="ngModel" id="selectedZone"  name="selectedZone" (change)="zoneChanged()" [disabled]="loading" required>
      <option selected disabled [ngValue]='undefined'>Select</option>
      <option>ALL</option>
      <option *ngFor="let zone of zoneList" [ngValue]="zone">{{zone.name | uppercase}}</option>
    </select>
    <div class="invalid-feedback" *ngIf="selectedZone.errors && (selectedZone.dirty || selectedZone.touched)">
      <div [hidden]="!selectedZone.errors.required">required field</div>
    </div>
  </div>
  <div class="inner-group">
    <small class="form-text text-muted">Bill Month</small>
    <div class="input-group">
      <select [ngClass]="{'is-valid': !billmonth.errors && (billmonth.dirty || billmonth.touched),'is-invalid': billmonth.errors && (billmonth.dirty || billmonth.touched)}"
        class="form-control form-control-sm" [(ngModel)]="month" #billmonth="ngModel" id="billmonth"  name="billmonth" required [disabled]="loading" (change)="billMonthChanged()">
        <option disabled selected [ngValue]='undefined'>Month<span>&nbsp;&nbsp;</span></option>
        <option *ngFor="let month of globalConstants.MONTHS" [ngValue]="month">{{month | uppercase}}</option>
      </select>
      <select [ngClass]="{'is-valid': !billMonthyear.errors && (billMonthyear.dirty || billMonthyear.touched),'is-invalid': billMonthyear.errors && (billMonthyear.dirty || billMonthyear.touched)}"
        class="form-control form-control-sm" [(ngModel)]="year" #billMonthyear="ngModel" id="billMonthyear"  name="billMonthyear" required [disabled]="loading" (change)="billMonthChanged()">
        <option disabled selected [ngValue]='undefined'>Year</option>
        <option *ngFor="let year of globalConstants.YEARS" [ngValue]="(year-2000)">{{year}}</option>
      </select>
      <div class="input-group-append">
        <button type="button" class="btn btn-sm btn-primary" (click)=searchClicked() [disabled]="selectedZone.errors || billmonth.errors || billMonthyear.errors || loading">
          Search
        </button>
      </div>
      <div class="invalid-feedback" *ngIf="(billmonth.errors && (billmonth.dirty || billmonth.touched)) || (billMonthyear.errors && (billMonthyear.dirty || billMonthyear.touched))">
        <div [hidden]="!billmonth.errors?.required && !billMonthyear.errors?.required">required bill month</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="htConsumerReadingList">
  <div class="table-responsive mb-2">
    <table class="table table-sm table-bordered table-hover text-center">
      <thead class="bg-inverse text-default">
        <tr>
          <td class="align-middle">S.No</td>
          <td class="align-middle">Zone</td>
          <td class="align-middle">Feeder</td>
          <td class="align-middle">Service No</td>
          <td class="align-middle">Consumer Name</td>
          <td class="align-middle">Bill Month</td>
          <td class="align-middle">Consumption</td>
          <td class="align-middle">Billed Unit</td>
          <td class="align-middle">Billed Amount</td>
          <td class="align-middle">Collected Amount</td>
        </tr>
      </thead>
      <tbody>
        <ng-template [ngIf]="htConsumerReadingList.length">
        <tr *ngFor="let reading of pagedHTConsumerReadingList; let i = index">
          <td class="align-middle">{{((pager.currentPage - 1) * pageSize)  + i + 1}}</td>
          <td class="align-middle">{{reading.htConsumer33KV?.feeder33KV?.zone?.name | uppercase}}</td>
          <td class="align-middle">{{reading.htConsumer33KV?.feeder33KV?.name}}</td>
          <td class="align-middle">{{reading.htConsumer33KV?.serviceNo}}</td>
          <td class="align-middle">{{reading.htConsumer33KV?.name}}</td>
          <td class="align-middle">{{reading.billMonth}}</td>
          <td class="align-middle">{{reading.consumption}}</td>
          <td class="align-middle">{{reading.billedUnit}}</td>
          <td class="align-middle">{{reading.amountBilled}}</td>
          <td class="align-middle">{{reading.amountCollected}}</td>
        </tr>
        </ng-template>
        <tr>
          <td class="align-middle" colspan="10" *ngIf="!htConsumerReadingList.length && !loading">No Records Found</td>
          <td class="align-middle" colspan="10" *ngIf="loading"><span class="spinner-border spinner-border-sm"></span> Loading...</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="pagination" *ngIf="htConsumerReadingList && htConsumerReadingList.length > pageSize" class="eas-flex-center">
    <nav>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(1)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.totalPages)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>