<form #dtrAddForm="ngForm" autocomplete="off">
  <div class="form-group row">
    <label class="col-sm-3">Region</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !region.errors && (region.dirty || region.touched),'is-invalid': region.errors && (region.dirty || region.touched)}"
        class="form-control form-control-sm" [(ngModel)]="formData.region" #region="ngModel" id="region"  name="region" required (change)="!region.errors && regionChanged(formData.region)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let region of regionList" [ngValue]="region">{{region.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="region.errors && (region.dirty || region.touched)">
        <div [hidden]="!region.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3">Circle</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !circle.errors && (circle.dirty || circle.touched),'is-invalid': circle.errors && (circle.dirty || circle.touched)}"
        class="form-control form-control-sm" [(ngModel)]="formData.circle" #circle="ngModel" id="circle"  name="circle" required (change)="!circle.errors && circleChanged(formData.circle)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let circle of circleList" [ngValue]="circle">{{circle.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="circle.errors && (circle.dirty || circle.touched)">
        <div [hidden]="!circle.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3">Division</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !division.errors && (division.dirty || division.touched),'is-invalid': division.errors && (division.dirty || division.touched)}"
        class="form-control form-control-sm" [(ngModel)]="formData.division" #division="ngModel" id="division"  name="division" required (change)="!division.errors && divisionChanged(formData.division)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="division.errors && (division.dirty || division.touched)">
        <div [hidden]="!division.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3">Zone</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
        class="form-control form-control-sm" [(ngModel)]="formData.zone" #zone="ngModel" id="zone"  name="zone" required (change)="!zone.errors && zoneChanged(formData.zone)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let zone of zoneList" [ngValue]="zone">{{zone.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
        <div [hidden]="!zone.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3">Substation Name</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !substationName.errors && (substationName.dirty || substationName.touched),'is-invalid': substationName.errors && (substationName.dirty || substationName.touched)}"
        class="form-control form-control-sm" [(ngModel)]="formData.substation" #substationName="ngModel" id="substationName"  name="substationName" required (change)="!substationName.errors && substationChanged(formData.substation)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let substation of substationList" [ngValue]="substation">{{substation.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="substationName.errors && (substationName.dirty || substationName.touched)">
        <div [hidden]="!substationName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3">Feeder Name</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !feederName.errors && (feederName.dirty || feederName.touched),'is-invalid': feederName.errors && (feederName.dirty || feederName.touched)}"
        class="form-control form-control-sm" [(ngModel)]="formData.feeder" #feederName="ngModel" id="feederName"  name="feederName" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let feeder of feederList" [ngValue]="feeder">{{feeder.name | uppercase}}</option>
      </select>
        <div class="invalid-feedback" *ngIf="feederName.errors && (feederName.dirty || feederName.touched)">
        <div [hidden]="!feederName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Export On</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !exportOn.errors && (exportOn.dirty || exportOn.touched),'is-invalid': exportOn.errors && (exportOn.dirty || exportOn.touched)}"
        class="form-control form-control-sm" [(ngModel)]="formData.exportOn" #exportOn="ngModel" id="exportOn"  name="exportOn" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let exportOn of ['11KV','DTR']" [ngValue]="exportOn">{{exportOn}}</option>
      </select>
        <div class="invalid-feedback" *ngIf="exportOn.errors && (exportOn.dirty || exportOn.touched)">
        <div [hidden]="!exportOn.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Location Name</label>
    <div class="col-sm-9">
      <input type="text" [ngClass]="{'is-valid': !locationName.errors && (locationName.dirty || locationName.touched),'is-invalid': locationName.errors && (locationName.dirty || locationName.touched)}"
        class="form-control" [(ngModel)]="formData.locationName" #locationName="ngModel" id="locationName"  name="locationName" required>
      <div class="invalid-feedback" *ngIf="locationName.errors && (locationName.dirty || locationName.touched)">
        <div [hidden]="!locationName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Meter Make</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !meterMake.errors && (meterMake.dirty || meterMake.touched),'is-invalid': meterMake.errors && (meterMake.dirty || meterMake.touched)}"
        class="form-control form-control-sm" [(ngModel)]="formData.meterMake" #meterMake="ngModel" id="meterMake"  name="meterMake" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let meter of globalConstants.METER_MAKES" [ngValue]="meter.name">{{meter.value}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="meterMake.errors && (meterMake.dirty || meterMake.touched)">
        <div [hidden]="!meterMake.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Meter No</label>
    <div class="col-sm-9">
      <input type="text" [ngClass]="{'is-valid': !meterNo.errors && (meterNo.dirty || meterNo.touched),'is-invalid': meterNo.errors && (meterNo.dirty || meterNo.touched)}"
        class="form-control" [(ngModel)]="formData.meterNo" #meterNo="ngModel" id="meterNo"  name="meterNo" required>
      <div class="invalid-feedback" *ngIf="meterNo.errors && (meterNo.dirty || meterNo.touched)">
        <div [hidden]="!meterNo.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Meter Capacity</label>
    <div class="col-sm-9">
      <input type="text" [ngClass]="{'is-valid': !meterCapacity.errors && (meterCapacity.dirty || meterCapacity.touched),'is-invalid': meterCapacity.errors && (meterCapacity.dirty || meterCapacity.touched)}"
        class="form-control" [(ngModel)]="formData.meterCapacity" #meterCapacity="ngModel" id="meterCapacity"  name="meterCapacity" required>
      <div class="invalid-feedback" *ngIf="meterCapacity.errors && (meterCapacity.dirty || meterCapacity.touched)">
        <div [hidden]="!meterCapacity.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Start Reading</label>
    <div class="col-sm-9">
      <input type="number" [ngClass]="{'is-valid': !meterSR.errors && (meterSR.dirty || meterSR.touched),'is-invalid': meterSR.errors && (meterSR.dirty || meterSR.touched)}"
        class="form-control" [(ngModel)]="formData.startReading" #meterSR="ngModel" id="meterSR"  name="meterSR" [min]="0" required>
      <div class="invalid-feedback" *ngIf="meterSR.errors && (meterSR.dirty || meterSR.touched)">
        <div [hidden]="!meterSR.errors.required">required field</div>
        <div [hidden]="!meterSR.errors.min || meterSR.errors.required">invalid value</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Start Reading Date</label>
    <div class="col-sm-9">
      <input type="date" [ngClass]="{'is-valid': !srDate.errors && (srDate.dirty || srDate.touched),'is-invalid': srDate.errors && (srDate.dirty || srDate.touched)}"
        class="form-control" [(ngModel)]="formData.readingDate" #srDate="ngModel" id="srDate"  name="srDate" required (change)="!srDate.errors && srDateChanged()">
      <div class="invalid-feedback" *ngIf="srDate.errors && (srDate.dirty || srDate.touched)">
        <div [hidden]="!srDate.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Bill Month</label>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-6">
          <select [ngClass]="{'is-valid': !billMonth.errors && (billMonth.dirty || billMonth.touched),'is-invalid': billMonth.errors && (billMonth.dirty || billMonth.touched)}"
            class="form-control" [(ngModel)]="formData.month" #billMonth="ngModel" id="billMonth"  name="billMonth" required>
            <option disabled selected [ngValue]='undefined'>Select Month</option>
            <option *ngFor="let month of globalConstants.MONTHS" [ngValue]="month">{{month | uppercase}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="billMonth.errors && (billMonth.dirty || billMonth.touched)">
            <div [hidden]="!billMonth.errors.required">required field</div>
          </div>
        </div>
        <div class="col-6">
          <select [ngClass]="{'is-valid': !billMonthYear.errors && (billMonthYear.dirty || billMonthYear.touched),'is-invalid': billMonthYear.errors && (billMonthYear.dirty || billMonthYear.touched)}"
            class="form-control" [(ngModel)]="formData.year" #billMonthYear="ngModel" id="billMonthYear"  name="billMonthYear" required>
            <option disabled selected [ngValue]='undefined'>Select Year</option>
            <option *ngFor="let year of globalConstants.YEARS" [ngValue]="(year-2000)">{{year}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="billMonthYear.errors && (billMonthYear.dirty || billMonthYear.touched)">
            <div [hidden]="!billMonthYear.errors.required">required field</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Overall MF</label>
    <div class="col-sm-9">
      <input type="number" [ngClass]="{'is-valid': !overallMF.errors && (overallMF.dirty || overallMF.touched),'is-invalid': overallMF.errors && (overallMF.dirty || overallMF.touched)}"
        class="form-control" [(ngModel)]="formData.overallMf" #overallMF="ngModel" id="overallMF"  name="overallMF" [min]="1" [max]="10000" step="0.0001" required>
      <div class="invalid-feedback" *ngIf="overallMF.errors && (overallMF.dirty || overallMF.touched)">
        <div [hidden]="!overallMF.errors.required">required field</div>
        <div [hidden]="!overallMF.errors.max || overallMF.errors.required">cannot be more than 10000</div>
        <div [hidden]="!overallMF.errors.min || overallMF.errors.required">cannot be less than 1</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4 offset-3">
      <button type="submit" class="btn btn-success form-control" (click)=submitClicked(dtrAddForm) [disabled]="submitButtonClicked">
        Submit <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submitButtonClicked"></span>
      </button>
    </div>
    <div class="col-4 offset-1">
      <button type="reset" class="btn btn-danger form-control">Reset</button>
    </div>
  </div>
</form>