<div class="card">
  <div class="card-header bg-dark text-white text-center">
      Update Profile
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <form #updateProfileForm="ngForm" autocomplete="off">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
              <input type="text" [ngClass]="{'is-valid': !username.errors && (username.dirty || username.touched),'is-invalid': username.errors && (username.dirty || username.touched)}"
                class="form-control" [(ngModel)]="formData.username" #username="ngModel" id="username"  name="username" placeholder="Enter Username" required>
              <div class="invalid-feedback" *ngIf="username.errors && (username.dirty || username.touched)">
                <div *ngIf="username.errors.required">required field</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" [ngClass]="{'is-valid': !name.errors && (name.dirty || name.touched),'is-invalid': name.errors && (name.dirty || name.touched)}"
                class="form-control" [(ngModel)]="formData.name" #name="ngModel" id="name"  name="name" placeholder="Enter Name" required>
              <div class="invalid-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">required field</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Role</label>
            <div class="col-sm-9">
              <input type="text" [ngClass]="{'is-valid': !role.errors && (role.dirty || role.touched),'is-invalid': role.errors && (role.dirty || role.touched)}"
                class="form-control" [(ngModel)]="formData.role" #role="ngModel" id="role"  name="role" placeholder="Enter Role" required>
              <div class="invalid-feedback" *ngIf="role.errors && (role.dirty || role.touched)">
                <div *ngIf="role.errors.required">required field</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Mobile No.</label>
            <div class="col-sm-9">
              <input type="text" [ngClass]="{'is-valid': !mobileNo.errors && (mobileNo.dirty || mobileNo.touched),'is-invalid': mobileNo.errors && (mobileNo.dirty || mobileNo.touched)}"
                class="form-control" [(ngModel)]="formData.mobileNo" #mobileNo="ngModel" id="mobileNo"  name="mobileNo" placeholder="Enter Mobile No" required>
              <div class="invalid-feedback" *ngIf="mobileNo.errors && (mobileNo.dirty || mobileNo.touched)">
                <div *ngIf="mobileNo.errors.required">required field</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-5 offset-3">
              <button type="submit" class="btn btn-success form-control" (click)=submitClicked(updateProfileForm)>Submit</button>
            </div>
            <div class="col-4">
              <button type="reset" class="btn btn-danger form-control" (click)="resetClicked()">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>