<div class="card">
  <div class="card-header bg-dark text-center text-white">
    DTR PRE-BILLING ACTIVITY
  </div>
  <div class="card-body">
    <div class="eas-space-evenly mb-2">
      <!-- <div class="inner-group">
        <label class="form-text text-muted mb-0">Region</label>
        <select [ngClass]="{'is-valid': !region.errors && (region.dirty || region.touched),'is-invalid': region.errors && (region.dirty || region.touched)}"
          class="form-control form-control-sm" [(ngModel)]="userDetails.region" #region="ngModel" id="region"  name="region" required (change)="!region.errors && regionChanged(userDetails.region)">
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let region of regionList" [ngValue]="region">{{region.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="region.errors && (region.dirty || region.touched)">
          <div [hidden]="!region.errors.required">required field</div>
        </div>
      </div>
      <div class="inner-group">
        <label class="form-text text-muted mb-0">Circle</label>
        <select [ngClass]="{'is-valid': !circle.errors && (circle.dirty || circle.touched),'is-invalid': circle.errors && (circle.dirty || circle.touched)}"
          class="form-control form-control-sm" [(ngModel)]="userDetails.circle" #circle="ngModel" id="circle"  name="circle" required (change)="!circle.errors && circleChanged(userDetails.circle)">
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let circle of circleList" [ngValue]="circle">{{circle.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="circle.errors && (circle.dirty || circle.touched)">
          <div [hidden]="!circle.errors.required">required field</div>
        </div>
      </div> -->
      <div class="inner-group">
        <label class="form-text text-muted mb-0">Division</label>
        <select [ngClass]="{'is-valid': !division.errors && (division.dirty || division.touched),'is-invalid': division.errors && (division.dirty || division.touched)}"
          class="form-control form-control-sm" [(ngModel)]="userDetails.division" #division="ngModel" id="division"  name="division" required (change)="!division.errors && divisionChanged(userDetails.division)">
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="division.errors && (division.dirty || division.touched)">
          <div [hidden]="!division.errors.required">required field</div>
        </div>
      </div>
      <div class="inner-group">
        <label class="form-text text-muted mb-0">Zone</label>
        <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
          class="form-control form-control-sm" [(ngModel)]="userDetails.zone" #zone="ngModel" id="zone"  name="zone" required (change)="!zone.errors && zoneChanged(userDetails.zone)">
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let zone of zoneList" [ngValue]="zone">{{zone.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
          <div [hidden]="!zone.errors.required">required field</div>
        </div>
      </div>
      <div class="inner-group">
        <label class="form-text text-muted mb-0">Substation</label>
        <select [ngClass]="{'is-valid': !substationName.errors && (substationName.dirty || substationName.touched),'is-invalid': substationName.errors && (substationName.dirty || substationName.touched)}"
          class="form-control form-control-sm" [(ngModel)]="userDetails.substation" #substationName="ngModel" id="substationName"  name="substationName" required (change)="!substationName.errors && substationChanged(userDetails.substation)">
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let substation of substationList" [ngValue]="substation">{{substation.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="substationName.errors && (substationName.dirty || substationName.touched)">
          <div [hidden]="!substationName.errors.required">required field</div>
        </div>
      </div>
      <div class="inner-group">
        <label class="form-text text-muted mb-0">Feeder</label>
        <select [ngClass]="{'is-valid': !feederName.errors && (feederName.dirty || feederName.touched),'is-invalid': feederName.errors && (feederName.dirty || feederName.touched)}"
          class="form-control form-control-sm" [(ngModel)]="userDetails.feeder" #feederName="ngModel" id="feederName"  name="feederName" required (change)="!feederName.errors && feederChanged(userDetails.feeder)">
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let feeder of feederList" [ngValue]="feeder">{{feeder.groupNo}} : {{feeder.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="feederName.errors && (feederName.dirty || feederName.touched)">
          <div [hidden]="!feederName.errors.required">required field</div>
        </div>
      </div>
      <div class="inner-group">
        <label class="form-text text-muted mb-0">Bill Month</label>
        <!-- <input type="month" [ngClass]="{'is-valid': !billingMonth.errors && (billingMonth.dirty || billingMonth.touched),'is-invalid': billingMonth.errors && (billingMonth.dirty || billingMonth.touched)}"
          class="form-control form-control-sm" [(ngModel)]="billMonth" #billingMonth="ngModel" id="billingMonth"  name="billingMonth" required>
        <div class="invalid-feedback" *ngIf="(billingMonth.errors && (billingMonth.dirty || billingMonth.touched))">
          <div [hidden]="!billingMonth.errors?.required">required bill month</div>
        </div> -->
        <div class="input-group">
          <select [ngClass]="{'is-valid': !month.errors && (month.dirty || month.touched),'is-invalid': month.errors && (month.dirty || month.touched)}"
            class="form-control form-control-sm" [(ngModel)]="billMonth" #month="ngModel" id="month"  name="month" required>
            <option disabled selected [ngValue]='undefined'>Month<span>&nbsp;&nbsp;</span></option>
            <option *ngFor="let month of globalConstants.MONTHS" [ngValue]="month">{{month | uppercase}}</option>
          </select>
          <select [ngClass]="{'is-valid': !year.errors && (year.dirty || year.touched),'is-invalid': year.errors && (year.dirty || year.touched)}"
            class="form-control form-control-sm" [(ngModel)]="billMonthYear" #year="ngModel" id="year"  name="year" required>
            <option disabled selected [ngValue]='undefined'>Year</option>
            <option *ngFor="let year of globalConstants.YEARS" [ngValue]="(year-2000)">{{year}}</option>
          </select>
          <div class="input-group-append">
            <button type="button" class="btn btn-sm btn-primary" (click)=searchClicked() [disabled]="feederName.errors || month.errors || year.errors || searchButtonClicked">
              <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="searchButtonClicked"></span> Search
            </button>
          </div>
          <div class="invalid-feedback" *ngIf="(month.errors && (month.dirty || month.touched)) || (year.errors && (year.dirty || year.touched))">
            <div [hidden]="!month.errors?.required && !year.errors?.required">required bill month</div>
          </div>
        </div>
      </div>
      <div class="inner-group">
        <label class="form-text text-muted mb-0">Bill File</label>
        <button type="button" class="btn btn-sm btn-success" *ngIf="userDetails?.feeder?.billFileUploaded" disabled>Uploaded</button>
        <button type="button" class="btn btn-sm btn-danger" *ngIf="!userDetails?.feeder?.billFileUploaded" disabled>Not Uploaded</button>
      </div>
    </div>
    <hr>
    <!-- <div class="eas-space-between mb-2" *ngIf="allDtrReadingInserted && userDetails?.feeder?.billFileUploaded">
      <div>
        <button type="button" class="btn btn-sm btn-warning" (click)="generateAllDtrLossReport()" *ngIf="!reportGenerated" [disabled]="generating">Generate Report</button>
        <button type="button" class="btn btn-sm btn-info mx-sm-1" (click)="viewDtrLossReport()" *ngIf="reportGenerated">View Report</button>
      </div>
      <div class="progress" style="width: 50%" *ngIf="generating">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div> -->
    <div class="eas-flex-end" *ngIf="showError">
      <div class="alert alert-danger text-center pb-1 pt-1" role="alert">
        <strong>DTR Readings for Month {{billMonth}}-{{billMonthYear}} !</strong> not inserted for all dtrs.
      </div>
    </div>

    <div *ngIf="dtrList && !searchButtonClicked">
      <div class="table-responsive mb-2 text-center">
        <table class="table table-sm table-bordered table-hover" id="dtrs">
          <thead class="bg-dark text-white">
            <tr>
              <td class="align-middle">S.NO</td>
              <td class="align-middle">DTR NAME</td>
              <td class="align-middle">RD NO</td>
              <td class="align-middle">READING</td>
              <td class="align-middle">DTR INPUT</td>
              <td class="align-middle">CCnB CONSUMPTION</td>
              <td class="align-middle">%T&D LOSS</td>
              <td class="align-middle">ASS NO/UNIT</td>
              <td class="align-middle">THEFT NO/UNIT</td>
              <td class="align-middle">NEW CONSUMPTION</td>
              <td class="align-middle">PROJECTED %T&D LOSS</td>
              <td class="align-middle">REMARK</td>
              <td class="align-middle">ACTION</td>
              <td class="align-middle">AFTER BILLING %T&D LOSS</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dtr of pagedDtrList; let i = index" valign="middle">
              <td class="align-middle">{{((pager.currentPage - 1) * pageSize)  + i + 1}}</td>
              <td class="align-middle">{{dtr?.dtrName}}</td>
              <td class="align-middle">{{dtr.billingRDNo}}</td> 
              <td class="align-middle">
                <span class="text-success" *ngIf="dtr.readingInsertedForBillMonth"><span class="fa fa-check"></span></span> 
                <span class="text-danger" *ngIf="!dtr.readingInsertedForBillMonth"><span class="fa fa-times"></span></span>
              </td>
              <td class="align-middle">{{dtr.prebilling?.netDTRInput}}</td>
              <td class="align-middle">
                <input type="number" *ngIf="dtr.readingInsertedForBillMonth" [ngClass]="{'is-valid': !preConsumption.errors && (preConsumption.dirty || preConsumption.touched),'is-invalid': preConsumption.errors && (preConsumption.dirty || preConsumption.touched)}"
                 class="form-control form-control-sm" [(ngModel)]="dtr.prebilling.preConsumption" #preConsumption="ngModel" name="preConsumption{{i}}" id="preConsumption{{i}}" placeholder="CCnB Consumption" (change)="preSoldUnitChanged(dtr)" 
                 [readonly]="dtr.prebilling?.id || dtr.prebilling?.savingSingleReport || dtr.prebilling?.singleReportSaved" required>
              </td>
              <td class="align-middle">{{dtr.prebilling?.preBillingLoss}}</td>
              <td class="align-middle">
                <input type="number" *ngIf="dtr.readingInsertedForBillMonth" [ngClass]="{'is-valid': !assUnit.errors && (assUnit.dirty || assUnit.touched),'is-invalid': assUnit.errors && (assUnit.dirty || assUnit.touched)}"
                  class="form-control form-control-sm" [(ngModel)]="dtr.prebilling.assUnit" #assUnit="ngModel" name="assUnit{{i}}" id="assUnit{{i}}" placeholder="Ass No." 
                  [readonly]="dtr.prebilling?.id || dtr.prebilling?.savingSingleReport || dtr.prebilling?.singleReportSaved" required>
                <input type="number" *ngIf="dtr.readingInsertedForBillMonth" [ngClass]="{'is-valid': !assUnitConsumption.errors && (assUnitConsumption.dirty || assUnitConsumption.touched),'is-invalid': assUnitConsumption.errors && (assUnitConsumption.dirty || assUnitConsumption.touched)}"
                  class="form-control form-control-sm" [(ngModel)]="dtr.prebilling.assUnitConsumption" #assUnitConsumption="ngModel" name="assUnitConsumption{{i}}" id="assUnitConsumption{{i}}" placeholder="Ass Consumption" (change)="newUnitConsumptionChanged(dtr)" 
                  [readonly]="dtr.prebilling.id || dtr.prebilling.savingSingleReport || dtr.prebilling.singleReportSaved" required>
              </td>
              <td class="align-middle">
                <input type="number" *ngIf="dtr.readingInsertedForBillMonth" [ngClass]="{'is-valid': !theftUnit.errors && (theftUnit.dirty || theftUnit.touched),'is-invalid': theftUnit.errors && (theftUnit.dirty || theftUnit.touched)}"
                  class="form-control form-control-sm" [(ngModel)]="dtr.prebilling.theftUnit" #theftUnit="ngModel" name="theftUnit{{i}}" id="theftUnit{{i}}" placeholder="Theft No" (change)="calculatePreBillingLoss(dtr)" 
                  [readonly]="dtr.prebilling?.id || dtr.prebilling?.savingSingleReport || dtr.prebilling?.singleReportSaved" required>
                <input type="number" *ngIf="dtr.readingInsertedForBillMonth"  [ngClass]="{'is-valid': !theftUnitConsumption.errors && (theftUnitConsumption.dirty || theftUnitConsumption.touched),'is-invalid': theftUnitConsumption.errors && (theftUnitConsumption.dirty || theftUnitConsumption.touched)}"
                  class="form-control form-control-sm" [(ngModel)]="dtr.prebilling.theftUnitConsumption" #theftUnitConsumption="ngModel" name="theftUnitConsumption{{i}}" id="theftUnitConsumption{{i}}" placeholder="Billed Theft Consumption" (change)="newUnitConsumptionChanged(dtr)" 
                  [readonly]="dtr.prebilling?.id || dtr.prebilling?.savingSingleReport || dtr.prebilling?.singleReportSaved" required>
              </td>
              <td class="align-middle">{{dtr.prebilling?.newPreConsumption}}</td>
              <td class="align-middle"><strong>{{dtr.prebilling?.newPreBillingLoss}}</strong></td>
              <td class="align-middle">
                <input type="text" *ngIf="dtr.readingInsertedForBillMonth"
                  class="form-control form-control-sm" [(ngModel)]="dtr.prebilling.remark" name="remark{{i}}" id="remark{{i}}" 
                  placeholder="Remark" [readonly]="dtr.prebilling?.id || dtr.prebilling?.savingSingleReport || dtr.prebilling?.singleReportSaved">
              </td>
              <td class="align-middle">
                <button type="button" class="btn btn-sm btn-warning" (click)="savePreBillingReport(dtr)" [disabled]="generating || dtr.prebilling.savingSingleReport"
                  *ngIf="dtr?.readingInsertedForBillMonth" [hidden]="!dtr.readingInsertedForBillMonth || dtr.prebilling?.singleReportSaved || dtr.prebilling?.id">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="dtr.prebilling?.savingSingleReport"></span> Save
                </button>
                <span *ngIf="dtr.prebilling?.singleReportSaved || dtr.prebilling?.id"><strong>SAVED</strong></span>
              </td>
              <td class="align-middle"><strong>{{dtr.prebilling?.tdLoss?.dtrLoss}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="pagination" *ngIf="dtrList && dtrList.length > pageSize" class="eas-flex-center">
        <nav>
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" href="javascript:void(0)" (click)="setPage(1)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            </li>
            <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a class="page-link" href="javascript:void(0)" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.totalPages)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</div>