<form #regionAddForm = "ngForm" id="regionAddForm">
  <div class="form-group row">
    <label class="col-4 col-form-label">Region</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !regionName.errors && (regionName.dirty || regionName.touched),'is-invalid': regionName.errors && (regionName.dirty || regionName.touched)}"
        class="form-control" [(ngModel)]="formData.name" #regionName="ngModel" id="regionName"  name="regionName" required>
      <div class="invalid-feedback" *ngIf="regionName.errors && (regionName.dirty || regionName.touched)">
        <div [hidden]="!regionName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4 offset-4">
      <button type="button" class="btn btn-success form-control" (click)=submitClicked(regionAddForm) [disabled]="!regionAddForm.form.valid || _submitClicked">
        Submit <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="_submitClicked"></span>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-danger form-control" (click)="resetClicked(regionAddForm)" [disabled]="_submitClicked">Reset</button>
    </div>
  </div>
</form>