<div class="text-center" *ngIf="loading">
  <div class='form-group'>
      <span class="spinner-border mx-sm-3" role="status" aria-hidden="true"></span>
      <label class="font-weight-bold">Loading...</label>
  </div>
</div>

<div *ngIf="feeders && !loading">
  <div class="form-group  eas-flex-end">
    <button class="button btn btn-primary" (click)="exportClicked()"><span class="fa fa-download">&nbsp;Export</span></button>
  </div>
  <fieldset [disabled]="deleteButtonClicked">
    <div class="table-responsive mb-2">
      <table class="table table-sm table-bordered text-center">
        <thead class="bg-dark text-white">
          <tr>
            <td>SNo</td>
            <td>Zone</td>
            <td>Substation</td>
            <td>Feeder Name</td>
            <td>Feeder Code</td>
            <td>Group No.</td>
            <td>Feeder Incharge</td>
            <td>STM ID</td>
            <td>GIS ID</td>
            <td>Feeder Type</td>
            <td>Meter No.</td>
            <td>MF</td>
            <td>Meter Make</td>
            <td>Edit</td>
            <td *ngIf="user.role==='admin' || user.role === 'htm_admin'">Delete</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feeder of pagedFeeders; let i = index">
            <td>{{((pager.currentPage - 1) * pageSize)  + i + 1}}</td>
            <td>{{feeder.zone.name | uppercase}}</td>
            <td>{{feeder.substation.name}}</td>
            <td>{{feeder.name}}</td>
            <td>{{feeder.feederCode}}</td>
            <td>{{feeder.groupNo}}</td>
            <td>{{feeder.link}}</td>
            <td>{{feeder.feederSTMId}}</td>
            <td>{{feeder.feederGISId}}</td>
            <td>{{feeder.type}}</td>
            <td>{{feeder.meterNo}}</td>
            <td>{{feeder.mf}}</td>
            <td>{{feeder.meterMake}}</td>
            <td>
              <a href="javascript:void(0)" (click)="editButtonClicked(feeder)" data-toggle="modal" data-target="#updateFeederModal">
                <span class="fa fa-pencil"></span>
              </a>
            </td>
            <td *ngIf="user.role==='admin' || user.role === 'htm_admin'">
              <a href="javascript:void(0)" (click)="deleteClicked(feeder)">
                <span class="fa fa-trash"></span>
              </a>
            </td>
          </tr>
          <tr *ngIf="feeders && feeders.length <= 0">
            <td colspan="15">No Records Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
  <div id="pagination" *ngIf="feeders && feeders.length > pageSize" class="eas-flex-center">
    <nav>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(1)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.totalPages)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="updateFeederModal" tabindex="-1" role="dialog" *ngIf="feederToEdit">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title">Edit feeder</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset [disabled]="updateButtonClicked">
            <form #feederUpdateForm="ngForm" autocomplete="off">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Region</label>
                <div class="col-sm-9">
                  <select class="form-control form-control-sm" id="region" name="region">
                    <option selected>{{user.region.name | uppercase}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Circle</label>
                <div class="col-sm-9">
                  <select class="form-control form-control-sm" id="circle"  name="circle" required>
                    <option selected>{{user.circle.name | uppercase}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Division</label>
                <div class="col-sm-9">
                  <select class="form-control form-control-sm" id="division"  name="division" required>
                    <option selected>{{user.division.name | uppercase}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Zone</label>
                <div class="col-sm-9">
                  <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
                    class="form-control form-control-sm" [(ngModel)]="feederToEdit.zoneId" #zone="ngModel" id="zone"  name="zone" required (change)="zoneChanged()">
                    <option disabled selected [ngValue]='undefined'>Select</option>
                    <option *ngFor="let zone of user.zoneList" [value]="zone.id">{{zone.name | uppercase}}</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
                    <div *ngIf="zone.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Substation Name</label>
                <div class="col-sm-9">
                  <select [ngClass]="{'is-valid': !substationName.errors && (substationName.dirty || substationName.touched),'is-invalid': substationName.errors && (substationName.dirty || substationName.touched)}"
                    class="form-control form-control-sm" [(ngModel)]="feederToEdit.substationId" #substationName="ngModel" id="substationName"  name="substationName" required>
                    <option disabled selected [ngValue]='undefined'>Select</option>
                    <option *ngFor="let substation of substationList" [value]="substation.id">{{substation.name | uppercase}}</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="substationName.errors && (substationName.dirty || substationName.touched)">
                    <div *ngIf="substationName.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Feeder Name</label>
                <div class="col-sm-9">
                  <input type="text" [ngClass]="{'is-valid': !feederName.errors && (feederName.dirty || feederName.touched),'is-invalid': feederName.errors && (feederName.dirty || feederName.touched)}"
                    class="form-control" [(ngModel)]="feederToEdit.name" #feederName="ngModel" id="feederName"  name="feederName" required>
                  <div class="invalid-feedback" *ngIf="feederName.errors && (feederName.dirty || feederName.touched)">
                    <div *ngIf="feederName.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Feeder Code</label>
                <div class="col-sm-9">
                  <input type="text" [ngClass]="{'is-valid': !feederCode.errors && (feederCode.dirty || feederCode.touched),'is-invalid': feederCode.errors && (feederCode.dirty || feederCode.touched)}"
                    class="form-control" [(ngModel)]="feederToEdit.feederCode" #feederCode="ngModel" id="feederCode"  name="feederCode" required>
                  <div class="invalid-feedback" *ngIf="feederCode.errors && (feederCode.dirty || feederCode.touched)">
                    <div *ngIf="feederCode.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Billing Group No.</label>
                <div class="col-sm-9">
                  <input type="text" [ngClass]="{'is-valid': !groupNo.errors && (groupNo.dirty || groupNo.touched),'is-invalid': groupNo.errors && (groupNo.dirty || groupNo.touched)}"
                    class="form-control" [(ngModel)]="feederToEdit.groupNo" #groupNo="ngModel" id="groupNo"  name="groupNo" required>
                  <div class="invalid-feedback" *ngIf="groupNo.errors && (groupNo.dirty || groupNo.touched)">
                    <div *ngIf="groupNo.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Name of Feeder Incharge</label>
                <div class="col-sm-9">
                  <input type="text" [ngClass]="{'is-valid': !feederIncharge.errors && (feederIncharge.dirty || feederIncharge.touched),'is-invalid': feederIncharge.errors && (feederIncharge.dirty || feederIncharge.touched)}"
                    class="form-control" [(ngModel)]="feederToEdit.link" #feederIncharge="ngModel" id="feederIncharge"  name="feederIncharge" required>
                  <div class="invalid-feedback" *ngIf="feederIncharge.errors && (feederIncharge.dirty || feederIncharge.touched)">
                    <div *ngIf="feederIncharge.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Feeder ID(STM)</label>
                <div class="col-sm-9">
                  <input type="number" [ngClass]="{'is-valid': !feederIdSTM.errors && (feederIdSTM.dirty || feederIdSTM.touched),'is-invalid': feederIdSTM.errors && (feederIdSTM.dirty || feederIdSTM.touched)}"
                    class="form-control" [(ngModel)]="feederToEdit.feederSTMId" #feederIdSTM="ngModel" id="feederIdSTM"  name="feederIdSTM" required>
                  <div class="invalid-feedback" *ngIf="feederIdSTM.errors && (feederIdSTM.dirty || feederIdSTM.touched)">
                    <div [hidden]="!feederIdSTM.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">GIS ID</label>
                <div class="col-sm-9">
                  <input type="text" [ngClass]="{'is-valid': !gisId.errors && (gisId.dirty || gisId.touched),'is-invalid': gisId.errors && (gisId.dirty || gisId.touched)}"
                    class="form-control" [(ngModel)]="feederToEdit.feederGISId" #gisId="ngModel" id="gisId"  name="gisId" required>
                  <div class="invalid-feedback" *ngIf="gisId.errors && (gisId.dirty || gisId.touched)">
                    <div *ngIf="gisId.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Feeder Type</label>
                <div class="col-sm-9">
                  <select [ngClass]="{'is-valid': !feederType.errors && (feederType.dirty || feederType.touched),'is-invalid': feederType.errors && (feederType.dirty || feederType.touched)}"
                    class="form-control form-control-sm" [(ngModel)]="feederToEdit.type" #feederType="ngModel" id="feederType"  name="feederType" required>
                    <option disabled selected [ngValue]='undefined'>Select</option>
                    <option [ngValue]="'INTER_DIVISION'">INTER DIVISION</option>
                    <option [ngValue]="'INTER_ZONE'">INTER ZONE</option>
                    <option [ngValue]="'PARENTAL'">PARENTAL</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="feederType.errors && (feederType.dirty || feederType.touched)">
                    <div *ngIf="feederType.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Feeder Meter No</label>
                <div class="col-sm-9">
                  <input type="text" [ngClass]="{'is-valid': !feederMeterNo.errors && (feederMeterNo.dirty || feederMeterNo.touched),'is-invalid': feederMeterNo.errors && (feederMeterNo.dirty || feederMeterNo.touched)}"
                    class="form-control" [(ngModel)]="feederToEdit.meterNo" #feederMeterNo="ngModel" id="feederMeterNo"  name="feederMeterNo" required>
                  <div class="invalid-feedback" *ngIf="feederMeterNo.errors && (feederMeterNo.dirty || feederMeterNo.touched)">
                    <div *ngIf="feederMeterNo.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Overall MF</label>
                <div class="col-sm-9">
                  <input type="number" [ngClass]="{'is-valid': !overallMF.errors && (overallMF.dirty || overallMF.touched),'is-invalid': overallMF.errors && (overallMF.dirty || overallMF.touched)}"
                    class="form-control" [(ngModel)]="feederToEdit.mf" #overallMF="ngModel" id="overallMF"  name="overallMF" [min]="1" [max]="10000" step="0.0001" required>
                  <div class="invalid-feedback" *ngIf="overallMF.errors && (overallMF.dirty || overallMF.touched)">
                    <div *ngIf="overallMF.errors.required">required field</div>
                    <div [hidden]="!overallMF.errors.max || overallMF.errors.required">cannot be more than 1000</div>
                    <div [hidden]="!overallMF.errors.min || overallMF.errors.required">cannot be less than 1</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Feeder Meter Make</label>
                <div class="col-sm-9">
                  <select [ngClass]="{'is-valid': !feederMeterMake.errors && (feederMeterMake.dirty || feederMeterMake.touched),'is-invalid': feederMeterMake.errors && (feederMeterMake.dirty || feederMeterMake.touched)}"
                  class="form-control rm-control-sm" [(ngModel)]="feederToEdit.meterMake" #feederMeterMake="ngModel" id="feederMeterMake"  name="feederMeterMake" required>
                  <option disabled selected [ngValue]='undefined'>Select</option>
                  <option>GENUS</option>
                  <option>HPL</option>
                  <option>OMINI</option>
                  <option>SECURE</option>
                  <option>OTHER</option>
                </select>
                <div class="invalid-feedback" *ngIf="feederMeterMake.errors && (feederMeterMake.dirty || feederMeterMake.touched)">
                  <div *ngIf="feederMeterMake.errors.required">required field</div>
                </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-4 offset-3">
                  <button type="button" class="btn btn-success form-control" (click)=updateFeeder(feederUpdateForm)>
                    Update <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="updateButtonClicked"></span>
                  </button>
                </div>
                <div class="col-4 offset-1">
                  <button type="button" class="btn btn-danger form-control" data-dismiss="modal" #modalCloseButtonRef>Cancel</button>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>