<div class="wrapper" id="contentBody">
    <nav id="verticalNavBar" class="accordion d-flex flex-column justify-content-between">
        <ul class="list-group list-group-flush">
            <a class="sticky-top list-group-item list-group-item-action bg-inverse text-default" data-toggle="collapse" href="#substationCollapseMenu">
                <div class="d-flex flex-row align-items-baseline">
                    <!-- <span class="fa fa-th mr-3"></span> -->
                    <span class="text-center">33/11KV SUBSTATION MENU</span>
                </div>
            </a>
            <div class="collapse show" id="substationCollapseMenu" data-parent="#verticalNavBar">
                <a class="list-group-item list-group-item-action" [ngClass]="{'active': menu.active}" *ngFor="let menu of menus" (click)="menuClicked(menu)" href="javascript:void(0);">
                    <div class="d-flex flex-row align-items-baseline">
                        <!-- <span class="fa fa-th-list mr-3"></span> -->
                        <span class="text-center">{{menu.name}}</span>
                    </div>
                </a>
            </div>
        </ul>
        <div class="footer">
        	<p class="text-default text-center">
                Copyright &copy; All rights reserved <i class="icon-heart" aria-hidden="true"></i> by <a href="http://www.mpwz.co.in" target="_blank">mpwz.co.in</a>
            </p>
        </div>
    </nav>
    <div id="mainContent">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <div class="wrapper" id="contentBody">
    <nav id="sidebar" [@sidebarAnimate]="animateService.sidebarAnimate(sideNavState)">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-dark" (click)="onSinenavToggle()">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <ul class="list-group list-group-flush">
            <a class="sticky-top list-group-item list-group-item-action bg-inverse text-default" (click)="onSinenavToggle()" href="javascript:void(0);">
                <div class="d-flex flex-row align-items-baseline">
                    <span class="fa fa-th mr-3"></span>
                    <span class="text-center">33/11KV SUBSTATION MENU</span>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" [ngClass]="{'active': menu.active}" *ngFor="let menu of menus" (click)="menuClicked(menu)" href="javascript:void(0);">
                <div class="d-flex flex-row align-items-baseline">
                    <span class="fa fa-th-list mr-3"></span>
                    <span class="text-center">{{menu.name}}</span>
                </div>
            </a>
    </ul>
</nav>
    <div id="mainContent" class="pl-5">
        <router-outlet></router-outlet>
    </div>
</div> -->