#sideMenu{
    background: #343a40;
    /*
     flex grow will grow the content across the container
    */
    flex-grow : 1;
    flex-basis: 15%;
}

#mainMenu{
    /*
     flex grow will grow the content across the container
    */
    flex-grow : 8; 
    flex-basis: 85%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#content{
    display: flex;
}

ul {
    height: 100vh;
     /*setting height of side list for showing scroll bar vh means view height*/
    overflow-y: auto; /*setting overflow for vertical scrollbar in side menu */
}