<eas-header></eas-header>

<!-- <div id="content">
    <div id="sideMenu" class="accordion"> -->
<div class="row flex-xl-nowrap">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2 accordion" id="menubar">
        <ul class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse" href="#substationCollapseMenu">33/11KV Substations</a>
            <div class="collapse" id="substationCollapseMenu" data-parent="#menubar">
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['substation/add']">Add</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['substation/view']">View</a>
            </div>
            <a class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse" href="#feederCollapseMenu">11KV Feeders</a>
            <div class="collapse" id="feederCollapseMenu" data-parent="#menubar">
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/add']">Add</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/view']">View</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/mapping/add']">Add Mapping</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/initial/reading/add']">Add Initial Reading</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/reading/add']">Add Reading</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/reading/view']">View Reading</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/reading/absent/view']">View Absent Reading</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/tnd/loss/report']">T&D Loss Report</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/tnd/loss/report/without-ht']">T&D Loss Report (Without HT)</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/atnc/loss/report']">AT&C Loss Report</a>
                <!-- <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['feeder/add']">Other Report</a> -->
            </div>
            <a class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse" href="#exportCollapseMenu">11KV Export</a>
            <div class="collapse" id="exportCollapseMenu" data-parent="#menubar">
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['export-point/add']">Add Export Points</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['export-point/view']">View Export Points</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['export-point/read/add']"> Add Export Point Reading</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['export-point/read/view']"> View Export Point Reading</a>
            </div>
            <a class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse" href="#dtrCollapseMenu">DTR</a>
            <div class="collapse" id="dtrCollapseMenu" data-parent="#menubar">
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['dtr/add']">Add</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['dtr/view']">View</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['dtr/read/add/initial-read']">Add Initial(S/R) Reading</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['dtr/read/add']">Add Reading</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['dtr/read/view']">View Reading</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['dtr/generate/loss/report']">Loss Report</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['dtr/pre-billing']">Pre Billing Activity</a>
                <!-- <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['dtr/view']">Other Reports</a> -->
            </div>
            <a class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse" href="#htConsumerCollapseMenu">11KV HT Consumers</a>
            <div class="collapse" id="htConsumerCollapseMenu" data-parent="#menubar">
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['ht/consumer/add']">Add Consumers</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['ht/consumer/view']">View Consumers</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['ht/consumer/reading/add']">Add Reading</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['ht/consumer/view/consumption']">View Consumption</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['ht/consumer/view/absent-consumption']">View Absent Consumption</a>
            </div>
            <a class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse" href="#reportCollapseMenu">Reports</a>
            <div class="collapse" id="reportCollapseMenu" data-parent="#menubar">
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['report/d1']">D1 Report</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['report/d2']">D2 Report</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['report/d3']">D3 Report</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['report/d4']">D4 Report</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['report/d5']">D5 Report</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['report/d6']">D6 Report</a>
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['report/d7']">D7 Report</a>
            </div>
            <a class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse" href="#billFileCollapseMenu">Bill File</a>
            <div class="collapse" id="billFileCollapseMenu" data-parent="#menubar">
                <a class="list-group-item list-group-item-action" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['bill-file/upload']">Upload</a>
            </div>
        </ul>
    </div>
    <!-- <div id="mainMenu"> -->
    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-10 py-sm-3 py-md-3 pl-sm-0 pl-md-0 pr-auto">
        <router-outlet></router-outlet>
    </div>
</div>
