<nav class="navbar navbar-dark bg-dark" id="oagNavbar">
  <a class="navbar-brand text-white" href="JavaScript:Void(0);" (click)="titleClicked()">
    EAS
  </a>
  <div id="welcomeMessage">
      <div class="dropdown">
          <label class="text-white">Welcome &nbsp;</label>
          <a class="dropdown-toggle text-white" role="button" id="dropdownMenuLink" data-toggle="dropdown" href="javascript:void(0);">
            <span class="fa fa-user" aria-hidden="true">&nbsp;&nbsp;</span>{{user?.name | uppercase}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="javascript:void(0);" (click)="settingClicked()"><span class="fa fa-wrench" aria-hidden="true">&nbsp;&nbsp;</span>Settings</a>
            <a class="dropdown-item" href="javascript:void(0);" (click)="logoutClicked()"><span class="fa fa-sign-out" aria-hidden="true">&nbsp;&nbsp;</span>Logout</a>
          </div>
      </div>
  </div>
</nav>