<nav class="navbar theme-color" id="navbarHeader">
  <div class="navbar-header">
    <a class="navbar-brand text-color-default" href="JavaScript:void(0);" (click)="titleClicked()">
        <span class="navbar-brand mb-0 h1">EAS</span>
    </a>
  </div>
  <div id="welcomeMessage">
      <div class="dropdown">
          <label class="text-color-default">Welcome &nbsp;</label>
          <a class="dropdown-toggle text-color-default" role="button" id="dropdownMenuLink" data-toggle="dropdown" href="javascript:void(0);">
            <span class="fa fa-user" aria-hidden="true">&nbsp;&nbsp;</span>{{user?.name | uppercase}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="javascript:void(0);" (click)="settingClicked()"><span class="fa fa-wrench" aria-hidden="true">&nbsp;&nbsp;</span>Settings</a>
            <a class="dropdown-item" href="javascript:void(0);" (click)="logoutClicked()"><span class="fa fa-sign-out" aria-hidden="true">&nbsp;&nbsp;</span>Logout</a>
          </div>
      </div>
  </div>
</nav>