<form #interruptionAddForm = "ngForm" id="interruptionAddForm">
  <div class="form-group row">
    <label class="col-4 col-form-label">Region Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !region.errors && (region.dirty || region.touched),'is-invalid': region.errors && (region.dirty || region.touched)}"
        class="form-control" [(ngModel)]="formData.region" #region="ngModel" id="region"  name="region" required (change)="!region.errors && regionChanged(formData.region)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let region of regionList" [ngValue]="region">{{region.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="region.errors && (region.dirty || region.touched)">
        <div [hidden]="!region.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Circle Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !circle.errors && (circle.dirty || circle.touched),'is-invalid': circle.errors && (circle.dirty || circle.touched)}"
        class="form-control" [(ngModel)]="formData.circle" #circle="ngModel" id="circle"  name="circle" required (change)="!circle.errors && circleChanged(formData.circle)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let circle of circleList" [ngValue]="circle">{{circle.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="circle.errors && (circle.dirty || circle.touched)">
        <div [hidden]="!circle.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Division Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !division.errors && (division.dirty || division.touched),'is-invalid': division.errors && (division.dirty || division.touched)}"
        class="form-control" [(ngModel)]="formData.division" #division="ngModel" id="division"  name="division" required (change)="!division.errors && divisionChanged(formData.division)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="division.errors && (division.dirty || division.touched)">
        <div [hidden]="!division.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Zone Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
        class="form-control" [(ngModel)]="formData.zone" #zone="ngModel" id="zone"  name="zone" required (change)="!zone.errors && zoneChanged(formData.zone)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let zone of zoneList" [ngValue]="zone">{{zone.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
        <div [hidden]="!zone.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Substation Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !substationName.errors && (substationName.dirty || substationName.touched),'is-invalid': substationName.errors && (substationName.dirty || substationName.touched)}"
        class="form-control" [(ngModel)]="formData.substation" #substationName="ngModel" id="substationName"  name="substationName" required (change)="!substationName.errors && substationChanged(formData.substation)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let substation of substationList" [ngValue]="substation">{{substation.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="substationName.errors && (substationName.dirty || substationName.touched)">
        <div [hidden]="!substationName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Feeder Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !feederName.errors && (feederName.dirty || feederName.touched),'is-invalid': feederName.errors && (feederName.dirty || feederName.touched)}"
        class="form-control" [(ngModel)]="formData.feeder" #feederName="ngModel" id="feederName"  name="feederName" required (change)="!feederName.errors && feederChanged(formData.feeder)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let feeder of feederList" [ngValue]="feeder">{{feeder.groupNo}} : {{feeder.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="feederName.errors && (feederName.dirty || feederName.touched)">
        <div [hidden]="!feederName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Bill Month</label>
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <select [ngClass]="{'is-valid': !billMonth.errors && (billMonth.dirty || billMonth.touched),'is-invalid': billMonth.errors && (billMonth.dirty || billMonth.touched)}"
            class="form-control" [(ngModel)]="formData.month" #billMonth="ngModel" id="billMonth"  name="billMonth" required (change)="!billMonth.errors && billMonthChanged()">
            <option disabled selected [ngValue]='undefined'>Select Month</option>
            <option *ngFor="let month of globalConstants.MONTHS" [ngValue]="month">{{month | uppercase}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="billMonth.errors && (billMonth.dirty || billMonth.touched)">
            <div [hidden]="!billMonth.errors.required">required field</div>
          </div>
        </div>
        <div class="col-6">
          <select [ngClass]="{'is-valid': !billMonthYear.errors && (billMonthYear.dirty || billMonthYear.touched),'is-invalid': billMonthYear.errors && (billMonthYear.dirty || billMonthYear.touched)}"
            class="form-control" [(ngModel)]="formData.year" #billMonthYear="ngModel" id="billMonthYear"  name="billMonthYear" required (change)="!billMonthYear.errors && billMonthYearChanged()">
            <option disabled selected [ngValue]='undefined'>Select Year</option>
            <option *ngFor="let year of globalConstants.YEARS" [ngValue]="(year-2000)">{{year}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="billMonthYear.errors && (billMonthYear.dirty || billMonthYear.touched)">
            <div [hidden]="!billMonthYear.errors.required">required field</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="form-group row">
    <label class="col-4 col-form-label">Total No of Consumers</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !totalConsumers.errors && (totalConsumers.dirty || totalConsumers.touched),'is-invalid': totalConsumers.errors && (totalConsumers.dirty || totalConsumers.touched)}"
        class="form-control" [(ngModel)]="formData.totalConsumer" #totalConsumers="ngModel" id="totalConsumers"  name="totalConsumers" pattern="\d{1,9}" [min]="0" required>
      <div class="invalid-feedback" *ngIf="totalConsumers.errors && (totalConsumers.dirty || totalConsumers.touched)">
        <div [hidden]="!totalConsumers.errors.required">required field</div>
        <div [hidden]="!totalConsumers.errors.min || totalConsumers.errors.required">can not be less than 0</div>
        <div [hidden]="!totalConsumers.errors.pattern || totalConsumers.errors.min || totalConsumers.errors.required">decimal value not allowed</div>
      </div>
    </div>
  </div> -->
  <div class="form-group row">
    <label class="col-4 col-form-label">Total No of Interruptions</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !totalInterruptions.errors && (totalInterruptions.dirty || totalInterruptions.touched),'is-invalid': totalInterruptions.errors && (totalInterruptions.dirty || totalInterruptions.touched)}"
        class="form-control" [(ngModel)]="formData.totalInterruption" #totalInterruptions="ngModel" id="totalInterruptions"  name="totalInterruptions" pattern="\d{1,9}" [min]="0" required>
      <div class="invalid-feedback" *ngIf="totalInterruptions.errors && (totalInterruptions.dirty || totalInterruptions.touched)">
        <div [hidden]="!totalInterruptions.errors.required">required field</div>
        <div [hidden]="!totalInterruptions.errors.min || totalInterruptions.errors.required">can not be less than 0</div>
        <div [hidden]="!totalInterruptions.errors.pattern || totalInterruptions.errors.min || totalInterruptions.errors.required">decimal value not allowed</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Interruption Duration (Minutes and Seconds)</label>
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <input type="number" [ngClass]="{'is-valid': !minutes.errors && (minutes.dirty || minutes.touched),'is-invalid': minutes.errors && (minutes.dirty || minutes.touched)}"
            class="form-control" [(ngModel)]="formData.minutes" #minutes="ngModel" id="minutes"  name="minutes" pattern="\d{1,9}" [min]="0" required placeholder="Minutes" 
            (change)="!minutes.errors && minutesChanged()" >
          <div class="invalid-feedback" *ngIf="minutes.errors && (minutes.dirty || minutes.touched)">
            <div [hidden]="!minutes.errors.required">required field</div>
            <div [hidden]="!minutes.errors.min || minutes.errors.required">can not be less than 0</div>
            <div [hidden]="!minutes.errors.pattern || minutes.errors.min || minutes.errors.required">decimal value not allowed</div>
          </div>
        </div>
        <div class="col-6">
          <input type="number" [ngClass]="{'is-valid': !seconds.errors && (seconds.dirty || seconds.touched),'is-invalid': seconds.errors && (seconds.dirty || seconds.touched)}"
            class="form-control" [(ngModel)]="formData.seconds" #seconds="ngModel" id="seconds"  name="seconds" pattern="\d{1,2}" [min]="0" [max]="60" placeholder="Seconds" required 
            (change)="!seconds.errors && secondsChanged()">
          <div class="invalid-feedback" *ngIf="seconds.errors && (seconds.dirty || seconds.touched)">
            <div [hidden]="!seconds.errors.required">required field</div>
            <div [hidden]="!seconds.errors.min || seconds.errors.required">can not be less than 0</div>
            <div [hidden]="!seconds.errors.max || seconds.errors.required">can not be greater than 60</div>
            <div [hidden]="!seconds.errors.pattern || seconds.errors.min || seconds.errors.max || seconds.errors.required">decimal value not allowed</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4 offset-4">
      <button type="button" class="btn btn-success form-control" (click)=submitClicked(interruptionAddForm) [disabled]="!interruptionAddForm.form.valid || _submitClicked">
        Submit <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="_submitClicked"></span>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-danger form-control" (click)="resetClicked(interruptionAddForm)" [disabled]="_submitClicked">Reset</button>
    </div>
  </div>
</form>