<fieldset [disabled]="submitButtonClicked">
  <form #dtrInitialReadAddForm="ngForm" autocomplete="off">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Region</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !region.errors && (region.dirty || region.touched),'is-invalid': region.errors && (region.dirty || region.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.regionId" #region="ngModel" id="region"  name="region" required (change)="!region.errors && regionChanged()">
          <option disabled selected [ngValue]='undefind'>Select</option>
          <option *ngFor="let region of regionList" [ngValue]="region.id">{{region.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="region.errors && (region.dirty || region.touched)">
          <div [hidden]="!region.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Circle</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !circle.errors && (circle.dirty || circle.touched),'is-invalid': circle.errors && (circle.dirty || circle.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.circleId" #circle="ngModel" id="circle"  name="circle" required (change)="!circle.errors && circleChanged()">
          <option disabled selected [ngValue]='undefind'>Select</option>
          <option *ngFor="let circle of circleList" [ngValue]="circle.id">{{circle.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="circle.errors && (circle.dirty || circle.touched)">
          <div [hidden]="!circle.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Division</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !division.errors && (division.dirty || division.touched),'is-invalid': division.errors && (division.dirty || division.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.divisionId" #division="ngModel" id="division"  name="division" required (change)="!division.errors && divisionChanged()">
          <option disabled selected [ngValue]='undefind'>Select</option>
          <option *ngFor="let division of divisionList" [ngValue]="division.id">{{division.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="division.errors && (division.dirty || division.touched)">
          <div [hidden]="!division.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Zone</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.zoneId" #zone="ngModel" id="zone"  name="zone" required (blur)="!zone.errors && zoneChanged()">
          <option disabled selected [ngValue]='undefind'>Select</option>
          <option *ngFor="let zone of zoneList" [ngValue]="zone.id">{{zone.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
          <div [hidden]="!zone.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Substation Name</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !substationName.errors && (substationName.dirty || substationName.touched),'is-invalid': substationName.errors && (substationName.dirty || substationName.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.substationId" #substationName="ngModel" id="substationName"  name="substationName" required (change)="!substationName.errors && substationChanged()">
          <option disabled selected [ngValue]='undefind'>Select</option>
          <option *ngFor="let substation of substationList" [ngValue]="substation.id">{{substation.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="substationName.errors && (substationName.dirty || substationName.touched)">
          <div [hidden]="!substationName.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Feeder Name</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !feederName.errors && (feederName.dirty || feederName.touched),'is-invalid': feederName.errors && (feederName.dirty || feederName.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.feederId" #feederName="ngModel" id="feederName"  name="feederName" required>
          <option disabled selected [ngValue]='undefind'>Select</option>
          <option *ngFor="let feeder of feederList" [ngValue]="feeder.id">{{feeder.name | uppercase}}</option>
        </select>
          <div class="invalid-feedback" *ngIf="feederName.errors && (feederName.dirty || feederName.touched)">
          <div [hidden]="!feederName.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Group No.</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrGroupNo.errors && (dtrGroupNo.dirty || dtrGroupNo.touched),'is-invalid': dtrGroupNo.errors && (dtrGroupNo.dirty || dtrGroupNo.touched)}"
          class="form-control" [ngModel]="dtrInitialRead.dtrCode" #dtrGroupNo="ngModel" id="dtrGroupNo"  name="dtrGroupNo" required readonly>
        <div class="invalid-feedback" *ngIf="dtrGroupNo.errors && (dtrGroupNo.dirty || dtrGroupNo.touched)">
          <div [hidden]="!dtrGroupNo.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Bill Month</label>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-6">
            <select [ngClass]="{'is-valid': !billMonth.errors && (billMonth.dirty || billMonth.touched),'is-invalid': billMonth.errors && (billMonth.dirty || billMonth.touched)}"
              class="form-control" [(ngModel)]="dtrInitialRead.feederId" #billMonth="ngModel" id="billMonth"  name="billMonth" required>
              <option disabled selected [ngValue]='undefind'>Select Month</option>
              <option *ngFor="let feeder of feederList" [value]="feeder.id">{{feeder.name | uppercase}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="billMonth.errors && (billMonth.dirty || billMonth.touched)">
              <div [hidden]="!billMonth.errors.required">required field</div>
            </div>
          </div>
          <div class="col-6">
            <select [ngClass]="{'is-valid': !billMonthYear.errors && (billMonthYear.dirty || billMonthYear.touched),'is-invalid': billMonthYear.errors && (billMonthYear.dirty || billMonthYear.touched)}"
              class="form-control" [(ngModel)]="dtrInitialRead.feederId" #billMonthYear="ngModel" id="billMonthYear"  name="billMonthYear" required>
              <option disabled selected [ngValue]='undefind'>Select Year</option>
              <option *ngFor="let feeder of feederList" [value]="feeder.id">{{feeder.name | uppercase}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="billMonthYear.errors && (billMonthYear.dirty || billMonthYear.touched)">
              <div [hidden]="!billMonthYear.errors.required">required field</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">DTR Location Name</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrLocationName.errors && (dtrLocationName.dirty || dtrLocationName.touched),'is-invalid': dtrLocationName.errors && (dtrLocationName.dirty || dtrLocationName.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.dtrName" #dtrLocationName="ngModel" id="dtrLocationName"  name="dtrLocationName" required>
        <div class="invalid-feedback" *ngIf="dtrLocationName.errors && (dtrLocationName.dirty || dtrLocationName.touched)">
          <div [hidden]="!dtrLocationName.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">RD No.</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrRdNo.errors && (dtrRdNo.dirty || dtrRdNo.touched),'is-invalid': dtrRdNo.errors && (dtrRdNo.dirty || dtrRdNo.touched)}"
          class="form-control" [ngModel]="dtrInitialRead.dtrCode" #dtrRdNo="ngModel" id="dtrRdNo"  name="dtrRdNo" required readonly>
        <div class="invalid-feedback" *ngIf="dtrRdNo.errors && (dtrRdNo.dirty || dtrRdNo.touched)">
          <div [hidden]="!dtrRdNo.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Meter MF</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrMeterMF.errors && (dtrMeterMF.dirty || dtrMeterMF.touched),'is-invalid': dtrMeterMF.errors && (dtrMeterMF.dirty || dtrMeterMF.touched)}"
          class="form-control" [ngModel]="dtrInitialRead.dtrCode" #dtrMeterMF="ngModel" id="dtrMeterMF"  name="dtrMeterMF" required readonly>
        <div class="invalid-feedback" *ngIf="dtrMeterMF.errors && (dtrMeterMF.dirty || dtrMeterMF.touched)">
          <div [hidden]="!dtrMeterMF.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Meter No</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrMeterNo.errors && (dtrMeterNo.dirty || dtrMeterNo.touched),'is-invalid': dtrMeterNo.errors && (dtrMeterNo.dirty || dtrMeterNo.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.dtrMeterNo" #dtrMeterNo="ngModel" id="dtrMeterNo"  name="dtrMeterNo" required>
        <div class="invalid-feedback" *ngIf="dtrMeterNo.errors && (dtrMeterNo.dirty || dtrMeterNo.touched)">
          <div [hidden]="!dtrMeterNo.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Initial(S/R) Reading</label>
      <div class="col-sm-9">
        <input type="number" [ngClass]="{'is-valid': !dtrInitialRead.errors && (dtrInitialRead.dirty || dtrInitialRead.touched),'is-invalid': dtrInitialRead.errors && (dtrInitialRead.dirty || dtrInitialRead.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.initialRead" #dtrInitialRead="ngModel" id="dtrInitialRead"  name="dtrInitialRead" [min]="0" required>
        <div class="invalid-feedback" *ngIf="dtrInitialRead.errors && (dtrInitialRead.dirty || dtrInitialRead.touched)">
          <div [hidden]="!dtrInitialRead.errors.required">required field</div>
          <div [hidden]="!dtrInitialRead.errors.min || dtrInitialRead.errors.required">invalid value</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Initial(S/R) Reading Date</label>
      <div class="col-sm-9">
        <input type="date" [ngClass]="{'is-valid': !dtrInitialRead.errors && (dtrInitialRead.dirty || dtrInitialRead.touched),'is-invalid': dtrInitialRead.errors && (dtrInitialRead.dirty || dtrInitialRead.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.initialRead" #dtrInitialRead="ngModel" id="dtrInitialRead"  name="dtrInitialRead" required>
        <div class="invalid-feedback" *ngIf="dtrInitialRead.errors && (dtrInitialRead.dirty || dtrInitialRead.touched)">
          <div [hidden]="!dtrInitialRead.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Difference</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrReadDifference.errors && (dtrReadDifference.dirty || dtrReadDifference.touched),'is-invalid': dtrReadDifference.errors && (dtrReadDifference.dirty || dtrReadDifference.touched)}"
          class="form-control" [ngModel]="dtrInitialRead.dtrReadDifference" #dtrReadDifference="ngModel" id="dtrReadDifference"  name="dtrReadDifference" required readonly>
        <div class="invalid-feedback" *ngIf="dtrReadDifference.errors && (dtrReadDifference.dirty || dtrReadDifference.touched)">
          <div [hidden]="!dtrReadDifference.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Metered Consumption</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrMeteredConsumption.errors && (dtrMeteredConsumption.dirty || dtrMeteredConsumption.touched),'is-invalid': dtrMeteredConsumption.errors && (dtrMeteredConsumption.dirty || dtrMeteredConsumption.touched)}"
          class="form-control" [ngModel]="dtrInitialRead.dtrMeteredConsumption" #dtrMeteredConsumption="ngModel" id="dtrMeteredConsumption"  name="dtrMeteredConsumption"required readonly>
        <div class="invalid-feedback" *ngIf="dtrMeteredConsumption.errors && (dtrMeteredConsumption.dirty || dtrMeteredConsumption.touched)">
          <div [hidden]="!dtrMeteredConsumption.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Assessment Units</label>
      <div class="col-sm-9">
        <input type="number" [ngClass]="{'is-valid': !dtrAssessmentUnit.errors && (dtrAssessmentUnit.dirty || dtrAssessmentUnit.touched),'is-invalid': dtrAssessmentUnit.errors && (dtrAssessmentUnit.dirty || dtrAssessmentUnit.touched)}"
          class="form-control" [(ngModel)]="dtrInitialRead.dtrAssessmentUnit" #dtrAssessmentUnit="ngModel" id="dtrAssessmentUnit"  name="dtrAssessmentUnit" [min]="0" required>
        <div class="invalid-feedback" *ngIf="dtrAssessmentUnit.errors && (dtrAssessmentUnit.dirty || dtrAssessmentUnit.touched)">
          <div [hidden]="!dtrAssessmentUnit.errors.required">required field</div>
          <div [hidden]="!dtrAssessmentUnit.errors.min || dtrAssessmentUnit.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Total Consumption</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrTotalConsumption.errors && (dtrTotalConsumption.dirty || dtrTotalConsumption.touched),'is-invalid': dtrTotalConsumption.errors && (dtrTotalConsumption.dirty || dtrTotalConsumption.touched)}"
          class="form-control" [ngModel]="dtrInitialRead.dtrTotalConsumption" #dtrTotalConsumption="ngModel" id="dtrTotalConsumption"  name="dtrTotalConsumption"required readonly>
        <div class="invalid-feedback" *ngIf="dtrTotalConsumption.errors && (dtrTotalConsumption.dirty || dtrTotalConsumption.touched)">
          <div [hidden]="!dtrTotalConsumption.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5 offset-3">
        <button type="submit" class="btn btn-success form-control" (click)=submitClicked(dtrInitialReadAddForm)>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submitButtonClicked"></span> Submit
        </button>
      </div>
      <div class="col-4">
        <button type="reset" class="btn btn-danger form-control" (click)="resetClicked()">Reset</button>
      </div>
    </div>
  </form>
</fieldset>