<form #feederMappingAddForm="ngForm" autocomplete="off">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Region</label>
    <div class="col-sm-9">
      <select class="form-control" id="region" name="region">
        <option selected>{{user.region.name | uppercase}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Circle</label>
    <div class="col-sm-9">
      <select class="form-control" id="circle"  name="circle" required>
        <option selected>{{user.circle.name | uppercase}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Division</label>
    <div class="col-sm-9">
      <select class="form-control" id="division"  name="division" required>
        <option selected>{{user.division.name | uppercase}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Zone</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
        class="form-control" [(ngModel)]="feederMapping.zoneId" #zone="ngModel" id="zone" name="zone" (change)="zoneChanged(feederMapping.zoneId)" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let zone of user.zoneList" [value]="zone.id">{{zone.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
        <div *ngIf="zone.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Substation</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !substation.errors && (substation.dirty || substation.touched),'is-invalid': substation.errors && (substation.dirty || substation.touched)}"
        class="form-control" [(ngModel)]="feederMapping.substationId" #substation="ngModel" id="substation" name="substation" (change)="substationChanged(feederMapping.substationId)" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let substation of substations" [value]="substation.id">{{substation.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="substation.errors && (substation.dirty || substation.touched)">
        <div *ngIf="substation.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Feeder</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !feederId.errors && (feederId.dirty || feederId.touched),'is-invalid': feederId.errors && (feederId.dirty || feederId.touched)}"
        class="form-control" [(ngModel)]="feederMapping.feeder" #feederId="ngModel" id="feeder" name="feeder" (change)="feederChanged(feederMapping.feeder)" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let feeder of feeders" [ngValue]="feeder">{{feeder.name | uppercase}} - {{feeder.groupNo}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="feederId.errors && (feederId.dirty || feederId.touched)">
        <div *ngIf="feederId.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Feeder Type</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [ngModel]="feederMapping.feeder?.type" id="mf" name="mf" disabled>
    </div>
  </div>
  <fieldset *ngIf="feederMapping.feeder?.type && (feederMapping.feeder.type === globalConstants.FEEDER_TYPE_INTER_ZONE || feederMapping.feeder.type === globalConstants.FEEDER_TYPE_INTER_DIVISION)">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Original Division</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !originalDivision.errors && (originalDivision.dirty || originalDivision.touched),'is-invalid': originalDivision.errors && (originalDivision.dirty || originalDivision.touched)}"
          class="form-control" [(ngModel)]="feederMapping.originalDivisionId" #originalDivision="ngModel" id="originalDivision" name="originalDivision" (change)="originalDivisionChanged(feederMapping.originalDivisionId)" required>
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let originalDivision of originalDivisions" [value]="originalDivision.id">{{originalDivision.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="originalDivision.errors && (originalDivision.dirty || originalDivision.touched)">
          <div *ngIf="originalDivision.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Feeder</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !originalFeeder.errors && (originalFeeder.dirty || originalFeeder.touched),'is-invalid': originalFeeder.errors && (originalFeeder.dirty || originalFeeder.touched)}"
          class="form-control" [(ngModel)]="feederMapping.originalFeeder" #originalFeeder="ngModel" id="feeder" name="originalFeeder" required>
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let originalFeeder of originalFeeders" [ngValue]="originalFeeder">{{originalFeeder.name | uppercase}} - {{originalFeeder.groupNo}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="originalFeeder.errors && (originalFeeder.dirty || originalFeeder.touched)">
          <div *ngIf="originalFeeder.errors.required">required field</div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-4 offset-3">
      <button type="button" class="btn btn-success form-control" (click)=submitButtonClicked() [disabled]="!feederMappingAddForm.valid || feederMapping.feeder?.type === globalConstants.FEEDER_TYPE_PARENTAL || loading">Submit</button>
    </div>
    <div class="col-4 offset-1">
      <button type="reset" class="btn btn-danger form-control">Reset</button>
    </div>
  </div>
</form>