<fieldset #exportPointReadAddForm="ngForm" ngForm autocomplete="off" [disabled]="_submitClicked">
  <div class="form-group row">
    <label class="col-4">Region</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !region.errors && (region.dirty || region.touched),'is-invalid': region.errors && (region.dirty || region.touched)}"
        class="form-control" [(ngModel)]="formData.region" #region="ngModel" id="region"  name="region" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let region of regionList" [ngValue]="region">{{region.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="region.errors && (region.dirty || region.touched)">
        <div [hidden]="!region.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Circle</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !circle.errors && (circle.dirty || circle.touched),'is-invalid': circle.errors && (circle.dirty || circle.touched)}"
        class="form-control" [(ngModel)]="formData.circle" #circle="ngModel" id="circle"  name="circle" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let circle of circleList" [ngValue]="circle">{{circle.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="circle.errors && (circle.dirty || circle.touched)">
        <div [hidden]="!circle.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Division</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !division.errors && (division.dirty || division.touched),'is-invalid': division.errors && (division.dirty || division.touched)}"
        class="form-control" [(ngModel)]="formData.division" #division="ngModel" id="division"  name="division" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="division.errors && (division.dirty || division.touched)">
        <div [hidden]="!division.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Zone</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
        class="form-control" [(ngModel)]="formData.zone" #zone="ngModel" id="zone"  name="zone" required (change)="!zone.errors && zoneChanged(formData.zone)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let zone of zoneList" [ngValue]="zone">{{zone.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
        <div [hidden]="!zone.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Substation Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !substationName.errors && (substationName.dirty || substationName.touched),'is-invalid': substationName.errors && (substationName.dirty || substationName.touched)}"
        class="form-control" [(ngModel)]="formData.substation" #substationName="ngModel" id="substationName"  name="substationName" required (change)="!substationName.errors && substationChanged(formData.substation)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let substation of substationList" [ngValue]="substation">{{substation.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="substationName.errors && (substationName.dirty || substationName.touched)">
        <div [hidden]="!substationName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Feeder Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !feederName.errors && (feederName.dirty || feederName.touched),'is-invalid': feederName.errors && (feederName.dirty || feederName.touched)}"
        class="form-control" [(ngModel)]="formData.exportPointFeeder" #feederName="ngModel" id="feederName"  name="feederName" required (change)="!feederName.errors && feederChanged(formData.exportPointFeeder)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let exportPointFeeder of exportPointFeederList" [ngValue]="exportPointFeeder">{{exportPointFeeder.name | uppercase}}</option>
      </select>
        <div class="invalid-feedback" *ngIf="feederName.errors && (feederName.dirty || feederName.touched)">
        <div [hidden]="!feederName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Export Location Name</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !exportLocationName.errors && (exportLocationName.dirty || exportLocationName.touched),'is-invalid': exportLocationName.errors && (exportLocationName.dirty || exportLocationName.touched)}"
        class="form-control" [(ngModel)]="formData.exportPointLocation" #exportLocationName="ngModel" id="exportLocationName"  name="exportLocationName" required (change)="!exportLocationName.errors && exportLocationNameChanged(formData.exportPointLocation)">
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let exportPointLocation of exportPointLocationList" [ngValue]="exportPointLocation">{{exportPointLocation.locationName | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="exportLocationName.errors && (exportLocationName.dirty || exportLocationName.touched)">
        <div [hidden]="!exportLocationName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Meter MF</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !meterMF.errors && (meterMF.dirty || meterMF.touched),'is-invalid': meterMF.errors && (meterMF.dirty || meterMF.touched)}"
        class="form-control" [ngModel]="formData.exportPointLocation?.overallMf" #meterMF="ngModel" id="meterMF"  name="meterMF" required readonly>
      <div class="invalid-feedback" *ngIf="meterMF.errors && (meterMF.dirty || meterMF.touched)">
        <div [hidden]="!meterMF.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Meter No</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !meterNo.errors && (meterNo.dirty || meterNo.touched),'is-invalid': meterNo.errors && (meterNo.dirty || meterNo.touched)}"
        class="form-control" [ngModel]="formData.exportPointLocation?.meterNo" #meterNo="ngModel" id="meterNo"  name="meterNo" required readonly>
      <div class="invalid-feedback" *ngIf="meterNo.errors && (meterNo.dirty || meterNo.touched)">
        <div [hidden]="!meterNo.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button type="button" class="btn btn-warning btn-block" (click)="meterReplacementClicked()" *ngIf="!_meterReplacementClicked">Click for Meter Replacement</button>
      <button type="button" class="btn btn-danger btn-block" (click)="cancleMeterReplacementClicked()" *ngIf="_meterReplacementClicked">Cancel for Meter Replacement</button>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Previous Reading</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !previousReading.errors && (previousReading.dirty || previousReading.touched),'is-invalid': previousReading.errors && (previousReading.dirty || previousReading.touched)}"
        class="form-control" [ngModel]="formData.prevReading" #previousReading="ngModel" id="previousReading"  name="previousReading" required readonly>
      <div class="invalid-feedback" *ngIf="previousReading.errors && (previousReading.dirty || previousReading.touched)">
        <div [hidden]="!previousReading.errors.required">required field</div>
        <div [hidden]="!previousReading.errors.min || previousReading.errors.required">invalid value</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Previous Reading Date</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !prevReadingDate.errors && (prevReadingDate.dirty || prevReadingDate.touched),'is-invalid': prevReadingDate.errors && (prevReadingDate.dirty || prevReadingDate.touched)}"
        class="form-control" [ngModel]="(formData.prevReadingDate | date : globalConstants.DATE_FORMAT | uppercase)" #prevReadingDate="ngModel" id="prevReadingDate"  name="prevReadingDate" required readonly>
      <div class="invalid-feedback" *ngIf="prevReadingDate.errors && (prevReadingDate.dirty || prevReadingDate.touched)">
        <div [hidden]="!prevReadingDate.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Previous Bill Month</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !prevBillMonth.errors && (prevBillMonth.dirty || prevBillMonth.touched),'is-invalid': prevBillMonth.errors && (prevBillMonth.dirty || prevBillMonth.touched)}"
        class="form-control" [ngModel]="formData.prevBillMonth | uppercase" #prevBillMonth="ngModel" id="prevBillMonth"  name="prevBillMonth" required readonly>
      <div class="invalid-feedback" *ngIf="prevBillMonth.errors && (prevBillMonth.dirty || prevBillMonth.touched)">
        <div [hidden]="!prevBillMonth.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row" *ngIf="_meterReplacementClicked">
    <label class="col-4">Meter Replacement Date</label>
    <div class="col-8">
      <input type="date" [ngClass]="{'is-valid': !meterReplacementDate.errors && (meterReplacementDate.dirty || meterReplacementDate.touched),'is-invalid': meterReplacementDate.errors && (meterReplacementDate.dirty || meterReplacementDate.touched)}"
        class="form-control" [(ngModel)]="formData.meterReplacementDate" #meterReplacementDate="ngModel" id="meterReplacementDate"  name="meterReplacementDate" [min]="formData.prevReadingDate" required (change)="!meterReplacementDate.errors && meterReplacementDateChanged()">
      <div class="invalid-feedback" *ngIf="meterReplacementDate.errors && (meterReplacementDate.dirty || meterReplacementDate.touched)">
        <div [hidden]="!meterReplacementDate.errors.required">required field</div>
        <div [hidden]="!meterReplacementDate.errors.min || meterReplacementDate.errors.required">date can not be less than Previous read date {{(formData.prevReadingDate | date : globalConstants.DATE_FORMAT | uppercase)}}</div>
      </div>
    </div>
  </div>
  <div class="form-group row" *ngIf="_meterReplacementClicked">
    <label class="col-4">Final Read</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !replacedMeterFinalRead.errors && (replacedMeterFinalRead.dirty || replacedMeterFinalRead.touched),'is-invalid': replacedMeterFinalRead.errors && (replacedMeterFinalRead.dirty || replacedMeterFinalRead.touched)}"
        class="form-control" [(ngModel)]="formData.finalRead" #replacedMeterFinalRead="ngModel" id="replacedMeterFinalRead"  name="replacedMeterFinalRead" step="0.001" [min]="formData.prevReading" required (change)="!replacedMeterFinalRead.errors && replacedMeterFinalReadChanged()">
      <div class="invalid-feedback" *ngIf="replacedMeterFinalRead.errors && (replacedMeterFinalRead.dirty || replacedMeterFinalRead.touched)">
        <div [hidden]="!replacedMeterFinalRead.errors.required">required field</div>
        <div [hidden]="!replacedMeterFinalRead.errors.min || replacedMeterFinalRead.errors.required">can not be less than Previous read {{formData.prevReading}}</div>
      </div>
    </div>
  </div>
  <div class="form-group row" *ngIf="_meterReplacementClicked">
    <label class="col-4">New Meter No</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !newMeterNo.errors && (newMeterNo.dirty || newMeterNo.touched),'is-invalid': newMeterNo.errors && (newMeterNo.dirty || newMeterNo.touched)}"
        class="form-control" [(ngModel)]="formData.newMeterNo" #newMeterNo="ngModel" id="newMeterNo"  name="newMeterNo" required>
      <div class="invalid-feedback" *ngIf="newMeterNo.errors && (newMeterNo.dirty || newMeterNo.touched)">
        <div [hidden]="!newMeterNo.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row" *ngIf="_meterReplacementClicked">
    <label class="col-4">New Meter Make</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !newMeterMake.errors && (newMeterMake.dirty || newMeterMake.touched),'is-invalid': newMeterMake.errors && (newMeterMake.dirty || newMeterMake.touched)}"
        class="form-control" [(ngModel)]="formData.newMeterMake" #newMeterMake="ngModel" id="newMeterMake"  name="newMeterMake" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let meter of globalConstants.METER_MAKES" [ngValue]="meter.name">{{meter.value}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="newMeterMake.errors && (newMeterMake.dirty || newMeterMake.touched)">
        <div [hidden]="!newMeterMake.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row" *ngIf="_meterReplacementClicked">
    <label class="col-4">New Meter MF</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !newMeterMF.errors && (newMeterMF.dirty || newMeterMF.touched),'is-invalid': newMeterMF.errors && (newMeterMF.dirty || newMeterMF.touched)}"
        class="form-control" [(ngModel)]="formData.newMf" #newMeterMF="ngModel" id="newMeterMF"  name="newMeterMF" [min]="1" required (change)="!newMeterMF.errors && newMeterMFChanged()">
      <div class="invalid-feedback" *ngIf="newMeterMF.errors && (newMeterMF.dirty || newMeterMF.touched)">
        <div [hidden]="!newMeterMF.errors.required">required field</div>
        <div [hidden]="!newMeterMF.errors.min || newMeterMF.errors.required">invalid value</div>
      </div>
    </div>
  </div>
  <div class="form-group row" *ngIf="_meterReplacementClicked">
    <label class="col-4">New Meter Capacity</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !newMeterCapacity.errors && (newMeterCapacity.dirty || newMeterCapacity.touched),'is-invalid': newMeterCapacity.errors && (newMeterCapacity.dirty || newMeterCapacity.touched)}"
        class="form-control" [(ngModel)]="formData.newMeterCapacity" #newMeterCapacity="ngModel" id="newMeterCapacity"  name="newMeterCapacity" required>
      <div class="invalid-feedback" *ngIf="newMeterCapacity.errors && (newMeterCapacity.dirty || newMeterCapacity.touched)">
        <div [hidden]="!newMeterCapacity.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row" *ngIf="_meterReplacementClicked">
    <label class="col-4">New Meter Start Read</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !newMeterStartRead.errors && (newMeterStartRead.dirty || newMeterStartRead.touched),'is-invalid': newMeterStartRead.errors && (newMeterStartRead.dirty || newMeterStartRead.touched)}"
        class="form-control" [(ngModel)]="formData.newMeterStartRead" #newMeterStartRead="ngModel" id="newMeterStartRead"  name="newMeterStartRead" [min]="0" step="0.001" required (change)="!newMeterStartRead.errors && newMeterStartReadChanged()">
      <div class="invalid-feedback" *ngIf="newMeterStartRead.errors && (newMeterStartRead.dirty || newMeterStartRead.touched)">
        <div [hidden]="!newMeterStartRead.errors.required">required field</div>
        <div [hidden]="!newMeterStartRead.errors.min || newMeterStartRead.errors.required">invalid value</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4"><strong>Bill Month for Current Reading</strong></label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !currentReadingBillMonth.errors && (currentReadingBillMonth.dirty || currentReadingBillMonth.touched),'is-invalid': currentReadingBillMonth.errors && (currentReadingBillMonth.dirty || currentReadingBillMonth.touched)}"
        class="form-control" [ngModel]="formData.billMonth" #currentReadingBillMonth="ngModel" id="currentReadingBillMonth"  name="currentReadingBillMonth" required readonly>
      <div class="invalid-feedback" *ngIf="currentReadingBillMonth.errors && (currentReadingBillMonth.dirty || currentReadingBillMonth.touched)">
        <div [hidden]="!currentReadingBillMonth.errors.required">required field</div>
        <div [hidden]="!currentReadingBillMonth.errors.min || currentReadingBillMonth.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Current Reading</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !currentReading.errors && (currentReading.dirty || currentReading.touched),'is-invalid': currentReading.errors && (currentReading.dirty || currentReading.touched)}"
        class="form-control" [(ngModel)]="formData.currReading" #currentReading="ngModel" id="currentReading"  name="currentReading" [min]="(formData.newMeterStartRead?.toString().length ? formData.newMeterStartRead :  formData.prevReading)" step="0.001" required (change)="!currentReading.errors && currentReadingChanged()">
      <div class="invalid-feedback" *ngIf="currentReading.errors && (currentReading.dirty || currentReading.touched)">
        <div [hidden]="!currentReading.errors.required">required field</div>
        <div [hidden]="!currentReading.errors.min || currentReading.errors.required">can not be less than Previous/start read {{formData.newMeterStartRead?.toString().length ? formData.newMeterStartRead :  formData.prevReading}}</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Current Reading Date</label>
    <div class="col-8">
      <input type="date" [ngClass]="{'is-valid': !currentReadingDate.errors && (currentReadingDate.dirty || currentReadingDate.touched),'is-invalid': currentReadingDate.errors && (currentReadingDate.dirty || currentReadingDate.touched)}"
        class="form-control" [(ngModel)]="formData.currReadingDate" #currentReadingDate="ngModel" id="currentReadingDate"  name="currentReadingDate"  [min]="(formData.meterReplacementDate ? formData.meterReplacementDate :  formData.prevReadingDate)" required (change)="!currentReadingDate.errors && currentReadingDateChanged()">
      <div class="invalid-feedback" *ngIf="currentReadingDate.errors && (currentReadingDate.dirty || currentReadingDate.touched)">
        <div [hidden]="!currentReadingDate.errors.required">required field</div>
        <div [hidden]="!currentReadingDate.errors.min || currentReadingDate.errors.required">can not be less than previous-read/meter-replacement-date {{formData.meterReplacementDate ? (formData.meterReplacementDate | date : globalConstants.DATE_FORMAT | uppercase) : (formData.prevReadingDate | date : globalConstants.DATE_FORMAT |uppercase)}} </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Difference</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !readDifference.errors && (readDifference.dirty || readDifference.touched),'is-invalid': readDifference.errors && (readDifference.dirty || readDifference.touched)}"
        class="form-control" [ngModel]="formData.readingDiff" #readDifference="ngModel" id="readDifference"  name="readDifference" required readonly>
      <div class="invalid-feedback" *ngIf="readDifference.errors && (readDifference.dirty || readDifference.touched)">
        <div [hidden]="!readDifference.errors.required">required field</div>
      </div>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-4">Metered Consumption</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !meteredConsumption.errors && (meteredConsumption.dirty || meteredConsumption.touched),'is-invalid': meteredConsumption.errors && (meteredConsumption.dirty || meteredConsumption.touched)}"
        class="form-control" [ngModel]="formData.meterConsumption" #meteredConsumption="ngModel" id="meteredConsumption"  name="meteredConsumption"required readonly>
      <div class="invalid-feedback" *ngIf="meteredConsumption.errors && (meteredConsumption.dirty || meteredConsumption.touched)">
        <div [hidden]="!meteredConsumption.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Assessment Units</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !assessmentUnit.errors && (assessmentUnit.dirty || assessmentUnit.touched),'is-invalid': assessmentUnit.errors && (assessmentUnit.dirty || assessmentUnit.touched)}"
        class="form-control" [(ngModel)]="formData.assUnit" #assessmentUnit="ngModel" id="assessmentUnit"  name="assessmentUnit" [min]="0" step="0" required (change)="!assessmentUnit.errors && assessmentUnitChanged()">
      <div class="invalid-feedback" *ngIf="assessmentUnit.errors && (assessmentUnit.dirty || assessmentUnit.touched)">
        <div [hidden]="!assessmentUnit.errors.required">required field</div>
        <div [hidden]="!assessmentUnit.errors.min || assessmentUnit.errors.required">invalid value</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Total Consumption</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !totalConsumption.errors && (totalConsumption.dirty || totalConsumption.touched),'is-invalid': totalConsumption.errors && (totalConsumption.dirty || totalConsumption.touched)}"
        class="form-control" [ngModel]="formData.totalConsumption" #totalConsumption="ngModel" id="totalConsumption"  name="totalConsumption"required readonly>
      <div class="invalid-feedback" *ngIf="totalConsumption.errors && (totalConsumption.dirty || totalConsumption.touched)">
        <div [hidden]="!totalConsumption.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4 offset-4">
      <button type="button" class="btn btn-success btn-block" (click)="submitClicked(exportPointReadAddForm)">
        Submit <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="_submitClicked"></span>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-danger btn-block" (click)="resetClicked(exportPointReadAddForm)">Reset</button>
    </div>
  </div>
</fieldset>