<div class="text-center" *ngIf="loading">
  <div class='form-group'>
    <span class="spinner-border mx-sm-3" role="status" aria-hidden="true"></span>
    <label class="font-weight-bold">Loading...</label>
  </div>
</div>

<div *ngIf="substations && !loading">
  <div class="form-group  eas-flex-end">
    <button class="button btn btn-primary" (click)="exportClicked()"><span class="fa fa-download"></span> Export</button>
  </div>
  <fieldset [disabled]="deleteButtonClicked">
    <div class="table-responsive mb-2">
      <table class="table table-sm table-bordered text-center">
        <thead class="bg-dark text-white">
          <tr>
            <td>SNo</td>
            <td>Name</td>
            <td>Code</td>
            <td>Zone</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let substation of pagedSubstations; let i = index">
            <td>{{((pager.currentPage - 1) * pageSize)  + i + 1}}</td>
            <td>{{substation.name | uppercase}}</td>
            <td>{{substation.code}}</td>
            <td>{{substation.zone.locationCode}} - {{substation.zone.name | uppercase}}</td>
            <td><a href="javascript:void(0)" (click)="editClicked(substation)" data-toggle="modal" data-target="#updateSubstationModal"><span class="fa fa-pencil"></span></a></td>
            <td><a href="javascript:void(0)" (click)="deleteClicked(substation)"><span class="fa fa-trash"></span></a></td>
          </tr>
          <tr *ngIf="substations && substations.length <= 0">
            <td colspan="6">No Records Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
  <div id="pagination" *ngIf="substations && substations.length > pageSize" class="eas-flex-center">
    <nav>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(1)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" href="javascript:void(0)" (click)="setPage(pager.totalPages)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="updateSubstationModal" tabindex="-1" role="dialog" *ngIf="substationToEdit">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title">Edit Substation</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset [disabled]="updateButtonClicked">
            <form #updateSubstattionForm="ngForm" autocomplete="off">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Region</label>
                <div class="col-sm-9">
                  <select class="form-control form-control-sm" id="region" name="region">
                    <option selected>{{user.region.name | uppercase}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Circle</label>
                <div class="col-sm-9">
                  <select class="form-control form-control-sm" id="circle"  name="circle" required>
                    <option selected>{{user.circle.name | uppercase}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Division</label>
                <div class="col-sm-9">
                  <select class="form-control form-control-sm" id="division"  name="division" required>
                    <option selected>{{user.division.name | uppercase}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Zone</label>
                <div class="col-sm-9">
                  <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
                    class="form-control form-control-sm" [(ngModel)]="substationToEdit.zoneId" #zone="ngModel" id="zone"  name="zone" required>
                    <option disabled selected [ngValue]='undefined'>Select</option>
                    <option *ngFor="let zone of user.zoneList" [value]="zone.id">{{zone.name | uppercase}}</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
                    <div *ngIf="zone.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" [ngClass]="{'is-valid': !substationName.errors && (substationName.dirty || substationName.touched),'is-invalid': substationName.errors && (substationName.dirty || substationName.touched)}"
                    class="form-control" [(ngModel)]="substationToEdit.name" #substationName="ngModel" id="substationName"  name="substationName" required>
                  <div class="invalid-feedback" *ngIf="substationName.errors && (substationName.dirty || substationName.touched)">
                    <div *ngIf="substationName.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Code</label>
                <div class="col-sm-9">
                  <input type="text" [ngClass]="{'is-valid': !substationCode.errors && (substationCode.dirty || substationCode.touched),'is-invalid': substationCode.errors && (substationCode.dirty || substationCode.touched)}"
                    class="form-control" [(ngModel)]="substationToEdit.code" #substationCode="ngModel" id="substationCode"  name="substationCode" required>
                  <div class="invalid-feedback" *ngIf="substationCode.errors && (substationCode.dirty || substationCode.touched)">
                    <div *ngIf="substationCode.errors.required">required field</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-4 offset-3">
                  <button type="button" class="btn btn-success form-control" (click)=updateSubstation(updateSubstattionForm)>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="updateButtonClicked"></span> Update
                  </button>
                </div>
                <div class="col-4 offset-1">
                  <button type="button" class="btn btn-danger form-control" data-dismiss="modal" #closeButtonRef>Cancel</button>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>