<div class="eas-space-evenly mb-2" *ngIf="!formData.selectedFeeder && !formData.SelectedBillingMonth">
  <div class="inner-group">
    <label class="form-text text-muted mb-0">Region</label>
    <select [ngClass]="{'is-valid': !region.errors && (region.dirty || region.touched),'is-invalid': region.errors && (region.dirty || region.touched)}"
      class="form-control form-control-sm" [(ngModel)]="formData.region" #region="ngModel" id="region"  name="region" required (change)="!region.errors && regionChanged(formData.region)">
      <option disabled selected [ngValue]='undefined'>Select</option>
      <option *ngFor="let region of regionList" [ngValue]="region">{{region.name | uppercase}}</option>
    </select>
    <div class="invalid-feedback" *ngIf="region.errors && (region.dirty || region.touched)">
      <div [hidden]="!region.errors.required">required field</div>
    </div>
  </div>
  <div class="inner-group">
    <label class="form-text text-muted mb-0">Circle</label>
    <select [ngClass]="{'is-valid': !circle.errors && (circle.dirty || circle.touched),'is-invalid': circle.errors && (circle.dirty || circle.touched)}"
      class="form-control form-control-sm" [(ngModel)]="formData.circle" #circle="ngModel" id="circle"  name="circle" required (change)="!circle.errors && circleChanged(formData.circle)">
      <option disabled selected [ngValue]='undefined'>Select</option>
      <option *ngFor="let circle of circleList" [ngValue]="circle">{{circle.name | uppercase}}</option>
    </select>
    <div class="invalid-feedback" *ngIf="circle.errors && (circle.dirty || circle.touched)">
      <div [hidden]="!circle.errors.required">required field</div>
    </div>
  </div>
  <div class="inner-group">
    <label class="form-text text-muted mb-0">Division</label>
    <select [ngClass]="{'is-valid': !division.errors && (division.dirty || division.touched),'is-invalid': division.errors && (division.dirty || division.touched)}"
      class="form-control form-control-sm" [(ngModel)]="formData.division" #division="ngModel" id="division"  name="division" required (change)="!division.errors && divisionChanged(formData.division)">
      <option disabled selected [ngValue]='undefined'>Select</option>
      <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name | uppercase}}</option>
    </select>
    <div class="invalid-feedback" *ngIf="division.errors && (division.dirty || division.touched)">
      <div [hidden]="!division.errors.required">required field</div>
    </div>
  </div>
  <div class="inner-group">
    <label class="form-text text-muted mb-0">Zone</label>
    <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
      class="form-control form-control-sm" [(ngModel)]="formData.zone" #zone="ngModel" id="zone"  name="zone" required (change)="!zone.errors && zoneChanged(formData.zone)">
      <option disabled selected [ngValue]='undefined'>Select</option>
      <option *ngFor="let zone of zoneList" [ngValue]="zone">{{zone.name | uppercase}}</option>
    </select>
    <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
      <div [hidden]="!zone.errors.required">required field</div>
    </div>
  </div>
  <div class="inner-group">
    <label class="form-text text-muted mb-0">Substation</label>
    <select [ngClass]="{'is-valid': !substationName.errors && (substationName.dirty || substationName.touched),'is-invalid': substationName.errors && (substationName.dirty || substationName.touched)}"
      class="form-control form-control-sm" [(ngModel)]="formData.substation" #substationName="ngModel" id="substationName"  name="substationName" required (change)="!substationName.errors && substationChanged(formData.substation)">
      <option disabled selected [ngValue]='undefined'>Select</option>
      <option *ngFor="let substation of substationList" [ngValue]="substation">{{substation.name | uppercase}}</option>
    </select>
    <div class="invalid-feedback" *ngIf="substationName.errors && (substationName.dirty || substationName.touched)">
      <div [hidden]="!substationName.errors.required">required field</div>
    </div>
  </div>
  <div class="inner-group">
    <label class="form-text text-muted mb-0">Feeder</label>
    <select [ngClass]="{'is-valid': !feederName.errors && (feederName.dirty || feederName.touched),'is-invalid': feederName.errors && (feederName.dirty || feederName.touched)}"
      class="form-control form-control-sm" [(ngModel)]="formData.feeder" #feederName="ngModel" id="feederName"  name="feederName" required (change)="!feederName.errors && feederChanged(formData.feeder)">
      <option disabled selected [ngValue]='undefined'>Select</option>
      <option *ngFor="let feeder of feederList" [ngValue]="feeder">{{feeder.groupNo}} : {{feeder.name | uppercase}}</option>
    </select>
    <div class="invalid-feedback" *ngIf="feederName.errors && (feederName.dirty || feederName.touched)">
      <div [hidden]="!feederName.errors.required">required field</div>
    </div>
  </div>
  <div class="inner-group">
    <label class="form-text text-muted mb-0">Bill Month</label>
    <!-- <input type="month" [ngClass]="{'is-valid': !billingMonth.errors && (billingMonth.dirty || billingMonth.touched),'is-invalid': billingMonth.errors && (billingMonth.dirty || billingMonth.touched)}"
      class="form-control form-control-sm" [(ngModel)]="billMonth" #billingMonth="ngModel" id="billingMonth"  name="billingMonth" required>
    <div class="invalid-feedback" *ngIf="(billingMonth.errors && (billingMonth.dirty || billingMonth.touched))">
      <div [hidden]="!billingMonth.errors?.required">required bill month</div>
    </div> -->
    <div class="input-group">
      <select [ngClass]="{'is-valid': !month.errors && (month.dirty || month.touched),'is-invalid': month.errors && (month.dirty || month.touched)}"
        class="form-control form-control-sm" [(ngModel)]="formData.billMonth" #month="ngModel" id="month"  name="month" required (change)="!month.errors && billMonthChanged()">
        <option disabled selected [ngValue]='undefined'>Month<span>&nbsp;&nbsp;</span></option>
        <option *ngFor="let month of globalConstants.MONTHS" [ngValue]="month">{{month | uppercase}}</option>
      </select>
      <select [ngClass]="{'is-valid': !year.errors && (year.dirty || year.touched),'is-invalid': year.errors && (year.dirty || year.touched)}"
        class="form-control form-control-sm" [(ngModel)]="formData.billMonthYear" #year="ngModel" id="year"  name="year" required (change)="!year.errors && billMonthYearChanged()">
        <option disabled selected [ngValue]='undefined'>Year</option>
        <option *ngFor="let year of globalConstants.YEARS" [ngValue]="(year-2000)">{{year}}</option>
      </select>
      <div class="input-group-append">
        <button type="button" class="btn btn-sm btn-primary" (click)=searchClicked() [disabled]="feederName.errors || month.errors || year.errors || _searchClicked">
          Search <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="_searchClicked"></span>
        </button>
      </div>
      <div class="invalid-feedback" *ngIf="(month.errors && (month.dirty || month.touched)) || (year.errors && (year.dirty || year.touched))">
        <div [hidden]="!month.errors?.required && !year.errors?.required">required bill month</div>
      </div>
    </div>
  </div>
</div>
<div class="eas-flex-center">
  <div class="form-group display-4" *ngIf="_searchClicked">
    <span class="spinner-border mx-sm-3" role="status" aria-hidden="true"></span>
    <label class="font-weight-bold">Loading...</label>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="errorMessage">
    <h4 class="alert-heading">Error !</h4>
    <p>{{errorMessage}}</p>
    <hr>
  </div>
</div>
<div class="eas-flex-end">
  <!-- <a class="fa fa-print fa-lg" aria-hidden="true" href='javascript:void(0);'></a> -->
  <a class="btn btn-sm btn-primary" href='javascript:void(0);' (click)="printClicked()">
    <i class="fa fa-print" aria-hidden="true"></i>
  </a>
</div>
<div class="table-responsive pt-1" id="dtrLossReport" *ngIf="dtrLossReports && dtrLossReports.length && !_searchClicked">
  <table class="table table-sm table-bordered d-print-block">
    <tbody class="text-sm text-center">
      <tr>
        <td class="align-middle" colspan="16"><h3 class="display-5">DTR LOSS REPORT</h3></td>
      </tr>
      <tr>
        <td class="align-middle" colspan="1">Region</td>
        <td class="align-middle" colspan="1"><strong>{{dtrLossReports[0].regionName | uppercase}}</strong></td>
        <td class="align-middle" colspan="1">Circle</td>
        <td class="align-middle" colspan="1"><strong>{{dtrLossReports[0].circleName | uppercase}}</strong></td>
        <td class="align-middle" colspan="1">Division</td>
        <td class="align-middle" colspan="3"><strong>{{dtrLossReports[0].divisionName | uppercase}}</strong></td>
        <td class="align-middle" colspan="1">Feeder Incharge</td>
        <td class="align-middle" colspan="3"><strong>{{dtrLossReports[0].feeder.link | uppercase}}</strong></td>
        <td class="align-middle" colspan="1">Zone</td>
        <td class="align-middle" colspan="3"><strong>{{dtrLossReports[0].zoneName | uppercase}}</strong></td>
      </tr>
      <tr>
        <td class="align-middle" colspan="1">Month</td>
        <td class="align-middle" colspan="1"><strong>{{dtrLossReports[0].lossMonth | uppercase}}</strong></td>
        <td class="align-middle" colspan="1">Substation</td>
        <td class="align-middle" colspan="4"><strong>{{dtrLossReports[0].substationName | uppercase}}</strong></td>
        <td class="align-middle" colspan="1">Feeder</td>
        <td class="align-middle" colspan="6"><strong>{{dtrLossReports[0].feederName | uppercase}}</strong></td>
        <td class="align-middle" colspan="1">Group No</td>
        <td class="align-middle" colspan="1"><strong>{{dtrLossReports[0].billingGroupNo | uppercase}}</strong></td>
      </tr>
      <tr>
        <td class="align-middle" colspan="15"><br></td>
      </tr>
      <tr class="font-weight-bold" id="dtrLossTableHeader">
        <td class="align-middle">S.NO</td>
        <td class="align-middle">DTR NAME</td>
        <td class="align-middle">LOC CODE</td>
        <td class="align-middle">RD NO.</td>
        <td class="align-middle">CAPACITY</td>
        <td class="align-middle">METER NO</td>
        <td class="align-middle">MF</td>
        <td class="align-middle">PREV RDG</td>
        <td class="align-middle">PREV RDG DATE</td>
        <td class="align-middle">CURR RDG</td>
        <td class="align-middle">CURR RDG DATE</td>
        <td class="align-middle">ASSESMENT UNIT</td>
        <td class="align-middle">NET INPUT</td>
        <td class="align-middle">CONSUMERS CONNECTED</td>
        <td class="align-middle">TOTAL CONSUMPTION</td>
        <td class="align-middle">% DTR LOSS</td>
      </tr>
      <tr *ngFor="let report of dtrLossReports; let i = index">
        <td class="align-middle">{{i + 1}}</td>
        <td class="align-middle">{{report.dtrName}}</td>
        <td class="align-middle">{{report.zoneLocationCode}}</td>
        <td class="align-middle">{{report.billingRDNo}}</td>
        <td class="align-middle">{{report.dtrCapacity}}</td>
        <td class="align-middle">{{report.dtrMeterNo}}</td>
        <td class="align-middle">{{report.mf}}</td>
        <td class="align-middle">{{report.previousReading}}</td>
        <td class="align-middle">{{report.previousReadingDate | date : globalConstants.DATE_FORMAT | uppercase}}</td>
        <td class="align-middle">{{report.currentReading}}</td>
        <td class="align-middle">{{report.currentReadingDate | date : globalConstants.DATE_FORMAT | uppercase}}</td>
        <td class="align-middle">{{report.assessmentUnit}}</td>
        <td class="align-middle">{{report.netDTRInput}}</td>
        <td class="align-middle"><a href='javascript:void(0);' (click)="exportTotalConsumers(report)">{{report.totalConsumer}}</a></td>
        <td class="align-middle">{{report.totalSoldUnit}}</td>
        <td class="align-middle">{{report.dtrLoss}}</td>
      </tr>
      <tr>
        <td class="align-middle text-right" colspan="11"><strong>Gross Total&nbsp;</strong></td>
        <td class="align-middle" colspan="1"><strong>{{grossAssessment}}</strong></td>
        <td class="align-middle" colspan="1"><strong>{{grossInput}}</strong></td>
        <td class="align-middle" colspan="1"><strong>{{grossConsumer}}</strong></td>
        <td class="align-middle" colspan="1"><strong>{{grossConsumption}}</strong></td>
        <td class="align-middle" colspan="1"><strong>{{grossLoss}}</strong></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="eas-flex-end">
  <a class="btn btn-sm btn-primary" href='javascript:void(0);' (click)="printClicked()">
    <i class="fa fa-print" aria-hidden="true"></i>
  </a>
</div>