router-outlet + * {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.theme-color{
    background-color: var(--theme-color) !important;
   
}

.bg-color-default{
    background-color: var(--theme-text-color-default) !important;
}

.bg-color-inverse{
    background-color: var(--theme-color) !important;
}

.text-color-default{
    color: var(--theme-text-color-default) !important;
}

.text-color-inverse{
    color: var(--theme-text-color-inverse) !important;
}

.header-text-color{
    color: var(--theme-header-text-color) !important;
}

body{
    background-color: #fafafa !important;
}

.wrapper{
    display: flex !important;
    align-items: stretch;
}

#navbarHeader{
    padding: 0.1rem 1rem !important;
}

#horizontalNavBar{
    padding: 0.1rem 1rem !important;
}

#verticalNavBar{
    background: var(--theme-color) !important;
    flex-grow : 0;
    flex-shrink: 0;
    flex-basis: 20%;
    max-width: 20%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 

    height: calc(100vh - var(--navbar-header-height) - var(--horizontal-navbar-height));
    overflow-y: auto;
}

#mainContent{
    flex-grow : 0; 
    flex-shrink: 0;
    flex-basis: 80%;
    max-width: 80%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
    
    height: calc(100vh - var(--navbar-header-height) - var(--horizontal-navbar-height));
    overflow-y: auto;
}

.backdrop{
    /* background-color: rgba(0, 0, 0, 0.7); */
    background: var(--theme-color) !important;
    opacity: .70;
    position: fixed; /* absolute */
    display: none;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    /* width:100%;
    height: 100vh; */
}

/* ------------------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background-color:  var(--theme-color) !important;
    /* -webkit-border-radius: 10px; */ 
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    /* -webkit-border-radius: 10px;
    border-radius: 10px; */
    background: var(--theme-color) !important;
}
/* 
::-webkit-scrollbar-track-piece  { 
    background-color: black;
} */

::-webkit-scrollbar:horizontal {
    /* width: 3px; */
    height: 5px;
}
 
::-webkit-scrollbar-track:horizontal {
    background-color: #ebebeb;
    /* -webkit-border-radius: 10px; */ 
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:horizontal {
    /* -webkit-border-radius: 10px;
    border-radius: 10px; */
    background: var(--theme-color) !important;
}

/* ::-webkit-scrollbar-track-piece:horizontal  { 
    background-color: black;
} */

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}