router-outlet + * {
   display: flex;
   flex-direction: column;
   flex: 1;
}

.bg-default{
    background-color: var(--color-default) !important;
}

.bg-inverse{
    background-color: var(--color-inverse) !important;
}

.text-default{
    color: var(--color-default) !important;
}

.text-inverse{
    color: var(--color-inverse) !important;
}

body{
    background-color: rgb(231, 227, 227) !important;
    /* background-color: var(--color-default) !important;
    color: var(--color-inverse)  !important; */
}

.wrapper{
    display: flex !important;
    align-items: stretch;
}

#navbarHeader{
    padding: 0.1rem 1rem !important;
}

#horizontalNavBar{
    padding: 0.1rem 1rem !important;
}

#verticalNavBar{
    height: calc(100vh - var(--header-navbar-height) - var(--horizontal-navbar-height)) !important;
    border-right: 2px solid var(--color-inverse) !important;
    background-color :var(--color-inverse) !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
    overflow-y: auto;
    width: 20%;
}

#mainContent{
    height: calc(100vh - var(--header-navbar-height) - var(--horizontal-navbar-height));
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
    overflow-y: auto;
    padding: 10px;
    flex : 1; 
}

.backdrop{
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color :var(--color-inverse) !important;
    opacity: .70;
    position: fixed; /* absolute */
    display: none;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    /* width:100wh;
    height: 100vh; */
}

/* ------------------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 3px;
}
 
::-webkit-scrollbar-track {
    background-color:  var(--color-inverse) !important;
    /* -webkit-border-radius: 10px; */ 
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    /* -webkit-border-radius: 10px;
    border-radius: 10px; */
    background-color :var(--color-inverse) !important;
}
/* 
::-webkit-scrollbar-track-piece  { 
    background-color: black;
} */

::-webkit-scrollbar:horizontal {
    /* width: 3px; */
    height: 3px;
}
 
::-webkit-scrollbar-track:horizontal {
    background-color: var(--color-inverse) !important;
    /* -webkit-border-radius: 10px; */ 
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:horizontal {
    /* -webkit-border-radius: 10px;
    border-radius: 10px; */
    background-color : var(--color-inverse) !important;
}

/* ::-webkit-scrollbar-track-piece:horizontal  { 
    background-color: black;
} */

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}