#content{
    display: flex !important;
}

#menubar{
    background: #343a40;
    flex-grow : 0;
    flex-shrink: 0;
    flex-basis: 20%;
    max-width: 20%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}

#menubar{
    height: calc(100vh - 56px);
    overflow-y: auto;
}


#mainMenu{
    flex-grow : 0; 
    flex-shrink: 0;
    flex-basis: 80%;
    max-width: 80%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}

#mainMenu{
    height: calc(100vh - 56px);
    overflow-y: auto;
}