<div id="pagination" *ngIf="(totalItem || pager.totalItems) > pageSize">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm">
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a href="javascript:void(0);" class="page-link" (click)="setPage(1)">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a href="javascript:void(0);" class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a href="javascript:void(0);" class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a href="javascript:void(0);" class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a href="javascript:void(0);" class="page-link" (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>


<!-- 
  :: Use template like this example where u want to use:
<table>
  <tr>
    <td>Table Headers</td>
  <tr>
  <ng-template [ngIf]="itemList && itemList.length > 0 && pagination">
    <tr *ngFor="let item of pagination.pagedItems; let i = index">
      <td>{{pagination.pager.startIndex + i + 1}}</td>
      <td>{{item.propertyName}}</td>
      <td>{{item.propertyName}}</td>
      <td><button class="btn btn-sm btn-primary" (click)="delete()">DELETE</button></td> // Delete perform on itemList
      <td><button class="btn btn-sm btn-primary" (click)="update()">UPDATE</button></td> // Update perform on itemList
      <td><button class="btn btn-sm btn-primary" (click)="add()">ADD</button></td> // Add perform on itemList
    </tr>
    <tr *ngIf="(!pagination.pagedItems || pagination.pagedItems.length <=0)">
      <td>No records found</td>
    </tr>
  </ng-template>  
</table>
<div class="eas-space-around form-inline">
  <input type="number" class="form-control form-control-sm" [(ngModel)]="pageSize" placeholder="Records in one page">
  <input type="number" class="form-control form-control-sm" [(ngModel)]="maxPages" placeholder="Display maximum pages">
  <input type="number" class="form-control form-control-sm" [(ngModel)]="totalItem" placeholder="Total Records">
  <ngbadmin-pagination [items]="itemList" [pageSize]="pageSize" [maxPages]="maxPages" [totalItem]="totalItem" (pageChange)="onPageChange($event)" #pagination ></ngbadmin-pagination>
</div>

:: Use this code in component for getting current page list and pager

  pageItemList: Array<any>;
  onPageChange(pageOfItems: Array<any>) {
    this.pageItemList = pageOfItems;
  }
-->