<fieldset #htConsumerAddForm="ngForm" ngForm autocomplete="off"  [disabled]="loading">
  <div class="form-group row">
    <label class="col-4 col-form-label">Region</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !region.errors && (region.dirty || region.touched),'is-invalid': region.errors && (region.dirty || region.touched)}"
        class="form-control" [(ngModel)]="htConsumer.region" #region="ngModel" id="region"  name="region" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let region of regionList" [ngValue]="region">{{region.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="region.errors && (region.dirty || region.touched)">
        <div [hidden]="!region.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Circle</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !circle.errors && (circle.dirty || circle.touched),'is-invalid': circle.errors && (circle.dirty || circle.touched)}"
        class="form-control" [(ngModel)]="htConsumer.circle" #circle="ngModel" id="circle"  name="circle" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let circle of circleList" [ngValue]="circle">{{circle.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="circle.errors && (circle.dirty || circle.touched)">
        <div [hidden]="!circle.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Division</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !division.errors && (division.dirty || division.touched),'is-invalid': division.errors && (division.dirty || division.touched)}"
        class="form-control" [(ngModel)]="htConsumer.division" #division="ngModel" id="division"  name="division" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="division.errors && (division.dirty || division.touched)">
        <div [hidden]="!division.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Zone</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
        class="form-control" [(ngModel)]="htConsumer.zoneId" #zone="ngModel" id="zone" name="zone" (change)="zoneChanged(htConsumer.zoneId)" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let zone of zoneList" [ngValue]="zone.id">{{zone.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
        <div *ngIf="zone.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Substation</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !substation.errors && (substation.dirty || substation.touched),'is-invalid': substation.errors && (substation.dirty || substation.touched)}"
        class="form-control" [(ngModel)]="htConsumer.substationId" #substation="ngModel" id="substation" name="substation" (change)="substationChanged(htConsumer.substationId)" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let substation of substations" [ngValue]="substation.id">{{substation.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="substation.errors && (substation.dirty || substation.touched)">
        <div *ngIf="substation.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Feeder</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !feederId.errors && (feederId.dirty || feederId.touched),'is-invalid': feederId.errors && (feederId.dirty || feederId.touched)}"
        class="form-control" [(ngModel)]="htConsumer.feederId" #feederId="ngModel" id="feeder" name="feeder" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let feeder of feeders" [ngValue]="feeder.id">{{feeder.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="feederId.errors && (feederId.dirty || feederId.touched)">
        <div *ngIf="feederId.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Service No</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !serviceNumber.errors && (serviceNumber.dirty || serviceNumber.touched),'is-invalid': serviceNumber.errors && (serviceNumber.dirty || serviceNumber.touched)}"
        class="form-control" [(ngModel)]="htConsumer.serviceNumber" #serviceNumber="ngModel" id="serviceNumber"  name="serviceNumber" required>
      <div class="invalid-feedback" *ngIf="serviceNumber.errors && (serviceNumber.dirty || serviceNumber.touched)">
        <div *ngIf="serviceNumber.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Consumer Name</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !consumerName.errors && (consumerName.dirty || consumerName.touched),'is-invalid': consumerName.errors && (consumerName.dirty || consumerName.touched)}"
        class="form-control" [(ngModel)]="htConsumer.consumerName" #consumerName="ngModel" id="consumerName"  name="consumerName" required>
      <div class="invalid-feedback" *ngIf="consumerName.errors && (consumerName.dirty || consumerName.touched)">
        <div *ngIf="consumerName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Address</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !address.errors && (address.dirty || address.touched),'is-invalid': address.errors && (address.dirty || address.touched)}"
        class="form-control" [(ngModel)]="htConsumer.address" #address="ngModel" id="address"  name="address" required>
      <div class="invalid-feedback" *ngIf="address.errors && (address.dirty || address.touched)">
        <div *ngIf="address.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Contract Demand</label>
    <div class="col-8">
      <input type="text" [ngClass]="{'is-valid': !contractDemand.errors && (contractDemand.dirty || contractDemand.touched),'is-invalid': contractDemand.errors && (contractDemand.dirty || contractDemand.touched)}"
        class="form-control" [(ngModel)]="htConsumer.contractDemand" #contractDemand="ngModel" id="contractDemand"  name="contractDemand" required>
      <div class="invalid-feedback" *ngIf="contractDemand.errors && (contractDemand.dirty || contractDemand.touched)">
        <div *ngIf="contractDemand.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4 offset-4">
      <button type="button" class="btn btn-success btn-block" (click)="submitClicked(htConsumerAddForm)">
        Submit <span class="spinner-border spinner-border-sm" *ngIf="loading"></span>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-danger btn-block" (click)="resetClicked(htConsumerAddForm)">Reset</button>
    </div>
  </div>
</fieldset>
  