<div class="wrapper">
  <nav id="verticalNavBar" class="accordion d-flex flex-column-reverse">
    <div class="footer">
      <p class="text-light text-center">
        Copyright &copy; All rights reserved <i class="icon-heart" aria-hidden="true"></i> by <a href="https://mpwz.co.in" target="_blank">mpwz.co.in</a>
      </p>
    </div>
</nav>
  <div id="mainContent">
    <div class="jumbotron text-center">
      <div class="container">
        <h2>Welcome Super Admin !</h2>
        <h5 class="lead">Energy Audit System</h5>
      </div>
    </div>
  </div>
</div>