<eas-header></eas-header>
<nav class="navbar bg-dark navbar-expand-lg">
    <!-- <button type="button" id="sidebarCollapse" class="btn btn-primary mb-1" (click)="toggleMenu()">
        <i class="fa fa-bars"></i><span class="sr-only">Toggle Menu</span>
    </button>     -->

    <button class="btn bg-light d-inline-block d-lg-none ml-auto mb-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-fill ml-auto">
            <li class="nav-item" [ngClass]="{'bg-light': menu.active}"  *ngFor="let menu of menus">
                <a class="nav-link" [ngClass]="{'text-dark': menu.active, 'text-light': !menu.active}" href="javascript:void(0);" (click)="menuClicked(menu)">{{menu.name}}</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>