<fieldset #feederReadingAddForm="ngForm" ngForm autocomplete="off" [disabled]="_submitClicked">
  <div class="form-group row">
    <label class="col-4 col-form-label">Region</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !region.errors && (region.dirty || region.touched),'is-invalid': region.errors && (region.dirty || region.touched)}"
        class="form-control" [(ngModel)]="feederReading.region" #region="ngModel" id="region"  name="region" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let region of regionList" [ngValue]="region">{{region.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="region.errors && (region.dirty || region.touched)">
        <div [hidden]="!region.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Circle</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !circle.errors && (circle.dirty || circle.touched),'is-invalid': circle.errors && (circle.dirty || circle.touched)}"
        class="form-control" [(ngModel)]="feederReading.circle" #circle="ngModel" id="circle"  name="circle" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let circle of circleList" [ngValue]="circle">{{circle.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="circle.errors && (circle.dirty || circle.touched)">
        <div [hidden]="!circle.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Division</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !division.errors && (division.dirty || division.touched),'is-invalid': division.errors && (division.dirty || division.touched)}"
        class="form-control" [(ngModel)]="feederReading.division" #division="ngModel" id="division"  name="division" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="division.errors && (division.dirty || division.touched)">
        <div [hidden]="!division.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Zone</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
        class="form-control" [(ngModel)]="feederReading.zoneId" #zone="ngModel" id="zone" name="zone" (change)="zoneChanged(feederReading.zoneId)" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let zone of zoneList" [ngValue]="zone.id">{{zone.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
        <div *ngIf="zone.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Feeder</label>
    <div class="col-8">
      <select [ngClass]="{'is-valid': !feederId.errors && (feederId.dirty || feederId.touched),'is-invalid': feederId.errors && (feederId.dirty || feederId.touched)}"
        class="form-control" [(ngModel)]="feederReading.feeder" #feederId="ngModel" id="feeder" name="feeder" (change)="feederChanged(feederReading.feeder)" required>
        <option disabled selected [ngValue]='undefined'>Select</option>
        <option *ngFor="let feeder of feeders" [ngValue]="feeder">{{feeder.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="feederId.errors && (feederId.dirty || feederId.touched)">
        <div *ngIf="feederId.errors.required">required field</div>
      </div>
    </div>
  </div>
 <div class="form-group row">
    <label class="col-4 col-form-label">Meter MF</label>
    <div class="col-8">
      <input type="text" class="form-control" [ngModel]="feederReading.mf" id="mf" name="mf" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Meter No</label>
    <div class="col-8">
      <input type="text" class="form-control" [ngModel]="feederReading.meterNo" id="meterNo" name="meterNo" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Prev Reading</label>
    <div class="col-8">
        <input type="text" class="form-control" [ngModel]="feederReading.previousRead" id="prevReading" name="prevReading" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Prev Reading Date</label>
    <div class="col-8">
      <input type="text" class="form-control" [value]="feederReading.previousReadDate | date : 'dd-MM-yyyy'" id="prevReadingDate" name="prevReadingDate" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Prev Bill Month</label>
    <div class="col-8">
        <input type="text" class="form-control" [ngModel]="feederReading.prevBillMonth" id="prevBillMonth" name="prevBillMonth" disabled>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button type="button" class="btn btn-warning btn-block" (click)="meterReplacementClicked()" *ngIf="!_meterReplacementClicked">Click for Meter Replacement</button>
      <button type="button" class="btn btn-danger btn-block" (click)="cancleMeterReplacementClicked()" *ngIf="_meterReplacementClicked">Cancle for Meter Replacement</button>
    </div>
  </div>
  <ng-template [ngIf]="_meterReplacementClicked">
    <div class="form-group row">
      <label class="col-4 col-form-label">Meter Replacement Date</label>
      <div class="col-8">
        <input type="date" [ngClass]="{'is-valid': !meterReplacementDate.errors && (meterReplacementDate.dirty || meterReplacementDate.touched),'is-invalid': meterReplacementDate.errors && (meterReplacementDate.dirty || meterReplacementDate.touched)}"
          class="form-control" [(ngModel)]="feederReading.meterReplacementDate" #meterReplacementDate="ngModel" id="meterReplacementDate"  name="meterReplacementDate" [min]="feederReading.previousReadDate" required (change)="!meterReplacementDate.errors && meterReplacementDateChanged()">
        <div class="invalid-feedback" *ngIf="meterReplacementDate.errors && (meterReplacementDate.dirty || meterReplacementDate.touched)">
          <div [hidden]="!meterReplacementDate.errors.required">required field</div>
          <div [hidden]="!meterReplacementDate.errors.min || meterReplacementDate.errors.required">date can not be less than Previous read date {{(feederReading.previousReadDate | date : globalConstants.DATE_FORMAT | uppercase)}}</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label">Final Read</label>
      <div class="col-8">
        <input type="number" [ngClass]="{'is-valid': !replacedMeterFinalRead.errors && (replacedMeterFinalRead.dirty || replacedMeterFinalRead.touched),'is-invalid': replacedMeterFinalRead.errors && (replacedMeterFinalRead.dirty || replacedMeterFinalRead.touched)}"
          class="form-control" [(ngModel)]="feederReading.finalRead" #replacedMeterFinalRead="ngModel" id="replacedMeterFinalRead"  name="replacedMeterFinalRead" step="0.001" [min]="feederReading.previousRead" required (change)="!replacedMeterFinalRead.errors && replacedMeterFinalReadChanged()">
        <div class="invalid-feedback" *ngIf="replacedMeterFinalRead.errors && (replacedMeterFinalRead.dirty || replacedMeterFinalRead.touched)">
          <div [hidden]="!replacedMeterFinalRead.errors.required">required field</div>
          <div [hidden]="!replacedMeterFinalRead.errors.min || replacedMeterFinalRead.errors.required">can not be less than Previous read {{feederReading.previousRead}}</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label">New Meter No</label>
      <div class="col-8">
        <input type="text" [ngClass]="{'is-valid': !newMeterNo.errors && (newMeterNo.dirty || newMeterNo.touched),'is-invalid': newMeterNo.errors && (newMeterNo.dirty || newMeterNo.touched)}"
          class="form-control" [(ngModel)]="feederReading.newMeterNo" #newMeterNo="ngModel" id="newMeterNo"  name="newMeterNo" required>
        <div class="invalid-feedback" *ngIf="newMeterNo.errors && (newMeterNo.dirty || newMeterNo.touched)">
          <div [hidden]="!newMeterNo.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label">New Meter MF</label>
      <div class="col-8">
        <input type="number" [ngClass]="{'is-valid': !newMeterMF.errors && (newMeterMF.dirty || newMeterMF.touched),'is-invalid': newMeterMF.errors && (newMeterMF.dirty || newMeterMF.touched)}"
          class="form-control" [(ngModel)]="feederReading.newMf" #newMeterMF="ngModel" id="newMeterMF"  name="newMeterMF" [min]="1" required (change)="!newMeterMF.errors && newMeterMFChanged()">
        <div class="invalid-feedback" *ngIf="newMeterMF.errors && (newMeterMF.dirty || newMeterMF.touched)">
          <div [hidden]="!newMeterMF.errors.required">required field</div>
          <div [hidden]="!newMeterMF.errors.min || newMeterMF.errors.required">invalid value</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label">New Meter Start Read</label>
      <div class="col-8">
        <input type="number" [ngClass]="{'is-valid': !newMeterStartRead.errors && (newMeterStartRead.dirty || newMeterStartRead.touched),'is-invalid': newMeterStartRead.errors && (newMeterStartRead.dirty || newMeterStartRead.touched)}"
          class="form-control" [(ngModel)]="feederReading.newMeterStartRead" #newMeterStartRead="ngModel" id="newMeterStartRead"  name="newMeterStartRead" [min]="0" step="0.001" required (change)="!newMeterStartRead.errors && newMeterStartReadChanged()">
        <div class="invalid-feedback" *ngIf="newMeterStartRead.errors && (newMeterStartRead.dirty || newMeterStartRead.touched)">
          <div [hidden]="!newMeterStartRead.errors.required">required field</div>
          <div [hidden]="!newMeterStartRead.errors.min || newMeterStartRead.errors.required">invalid value</div>
        </div>
      </div>
    </div>
    </ng-template>
  <div class="form-group row">
    <label class="col-4 col-form-label">Bill Month</label>
    <div class="col-8">
        <input type="text" class="form-control" [ngModel]="feederReading.billMonth" id="billMonth" name="billMonth" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Current Reading</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !currentReading.errors && (currentReading.dirty || currentReading.touched),'is-invalid': currentReading.errors && (currentReading.dirty || currentReading.touched)}"
        class="form-control" [(ngModel)]="feederReading.currentRead" #currentReading="ngModel" id="currentReading"  name="currentReading" [min]="(feederReading.newMeterStartRead?.toString().length ? feederReading.newMeterStartRead :  feederReading.previousRead)" step="0.001" required (change)="!currentReading.errors && currentReadingChanged()">
      <div class="invalid-feedback" *ngIf="currentReading.errors && (currentReading.dirty || currentReading.touched)">
        <div [hidden]="!currentReading.errors.required">required field</div>
        <div [hidden]="!currentReading.errors.min || currentReading.errors.required">can not be less than Previous/start read {{feederReading.newMeterStartRead?.toString().length ? feederReading.newMeterStartRead :  feederReading.previousRead}}</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Current Read Date</label>
    <div class="col-8">
      <input type="date" [ngClass]="{'is-valid': !currentReadingDate.errors && (currentReadingDate.dirty || currentReadingDate.touched),'is-invalid': currentReadingDate.errors && (currentReadingDate.dirty || currentReadingDate.touched)}"
        class="form-control" [(ngModel)]="feederReading.currentReadDate" #currentReadingDate="ngModel" id="currentReadingDate"  name="currentReadingDate"  [min]="(feederReading.meterReplacementDate ? feederReading.meterReplacementDate :  feederReading.previousReadDate)" required (change)="!currentReadingDate.errors && currentReadingDateChanged()">
      <div class="invalid-feedback" *ngIf="currentReadingDate.errors && (currentReadingDate.dirty || currentReadingDate.touched)">
        <div [hidden]="!currentReadingDate.errors.required">required field</div>
        <div [hidden]="!currentReadingDate.errors.min || currentReadingDate.errors.required">can not be less than previous-read/meter-replacement-date {{feederReading.meterReplacementDate ? (feederReading.meterReplacementDate | date : globalConstants.DATE_FORMAT | uppercase) : (feederReading.previousReadDate | date : globalConstants.DATE_FORMAT | uppercase)}} </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Difference</label>
    <div class="col-8">
        <input type="text" class="form-control" [ngModel]="feederReading.difference" id="readingDiff" name="readingDiff" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Consumption</label>
    <div class="col-8">
        <input type="text" class="form-control" [ngModel]="feederReading.consumption" id="meterConsumption" name="meterConsumption" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Assessment</label>
    <div class="col-8">
      <input type="number" [ngClass]="{'is-valid': !assessment.errors && (assessment.dirty || assessment.touched),'is-invalid': assessment.errors && (assessment.dirty || assessment.touched)}"
        class="form-control" [(ngModel)]="feederReading.assessmentUnit" #assessment="ngModel" id="assessment"  name="assessment" [min]="0" (change)="!assessment.errors && assessmentChanged()" required>
      <div class="invalid-feedback" *ngIf="assessment.errors && (assessment.dirty || assessment.touched)">
        <div *ngIf="assessment.errors.required">required field</div>
        <div [hidden]="!assessment.errors.min || assessment.errors.required">Assessment can not be less than 0.</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">Total Consumption</label>
    <div class="col-8">
        <input type="text" class="form-control" [ngModel]="feederReading.totalConsumption" id="totalConsumption" name="totalConsumption" disabled>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4 offset-4">
      <button type="button" class="btn btn-success btn-block" (click)="submitClicked(feederReadingAddForm)">Submit</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-danger btn-block" (click)="resetClicked(feederReadingAddForm)">Reset</button>
    </div>
  </div>
</fieldset>