<fieldset [disabled]="submitButtonClicked">
  <form #dtrAddForm="ngForm" autocomplete="off">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Region</label>
      <div class="col-sm-9">
        <select class="form-control form-control-sm" id="region" name="region">
          <option selected>{{user.region.name | uppercase}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Circle</label>
      <div class="col-sm-9">
        <select class="form-control form-control-sm" id="circle"  name="circle" required>
          <option selected>{{user.circle.name | uppercase}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Division</label>
      <div class="col-sm-9">
        <select class="form-control form-control-sm" id="division"  name="division" required>
          <option selected>{{user.division.name | uppercase}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Zone</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
          class="form-control form-control-sm" [(ngModel)]="dtr.zoneId" #zone="ngModel" id="zone"  name="zone" required (change)="!zone.errors && zoneChanged()">
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let zone of user.zoneList" [value]="zone.id">{{zone.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
          <div [hidden]="!zone.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Substation Name</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !substationName.errors && (substationName.dirty || substationName.touched),'is-invalid': substationName.errors && (substationName.dirty || substationName.touched)}"
          class="form-control form-control-sm" [(ngModel)]="dtr.substationId" #substationName="ngModel" id="substationName"  name="substationName" required (change)="!substationName.errors && substationChanged()">
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let substation of substationList" [value]="substation.id">{{substation.name | uppercase}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="substationName.errors && (substationName.dirty || substationName.touched)">
          <div [hidden]="!substationName.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Feeder Name</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !feederName.errors && (feederName.dirty || feederName.touched),'is-invalid': feederName.errors && (feederName.dirty || feederName.touched)}"
          class="form-control form-control-sm" [(ngModel)]="dtr.feederId" #feederName="ngModel" id="feederName"  name="feederName" required>
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let feeder of feederList" [value]="feeder.id">{{feeder.name | uppercase}}</option>
        </select>
          <div class="invalid-feedback" *ngIf="feederName.errors && (feederName.dirty || feederName.touched)">
          <div [hidden]="!feederName.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">DTR Location Name</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrLocationName.errors && (dtrLocationName.dirty || dtrLocationName.touched),'is-invalid': dtrLocationName.errors && (dtrLocationName.dirty || dtrLocationName.touched)}"
          class="form-control" [(ngModel)]="dtr.dtrName" #dtrLocationName="ngModel" id="dtrLocationName"  name="dtrLocationName" required>
        <div class="invalid-feedback" *ngIf="dtrLocationName.errors && (dtrLocationName.dirty || dtrLocationName.touched)">
          <div [hidden]="!dtrLocationName.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">DTR Location Code</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrLocationCode.errors && (dtrLocationCode.dirty || dtrLocationCode.touched),'is-invalid': dtrLocationCode.errors && (dtrLocationCode.dirty || dtrLocationCode.touched)}"
          class="form-control" [(ngModel)]="dtr.dtrCode" #dtrLocationCode="ngModel" id="dtrLocationCode"  name="dtrLocationCode" required>
        <div class="invalid-feedback" *ngIf="dtrLocationCode.errors && (dtrLocationCode.dirty || dtrLocationCode.touched)">
          <div [hidden]="!dtrLocationCode.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">DTR Capacity</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrCapacity.errors && (dtrCapacity.dirty || dtrCapacity.touched),'is-invalid': dtrCapacity.errors && (dtrCapacity.dirty || dtrCapacity.touched)}"
          class="form-control" [(ngModel)]="dtr.dtrCapacity" #dtrCapacity="ngModel" id="dtrCapacity"  name="dtrCapacity" required>
        <div class="invalid-feedback" *ngIf="dtrCapacity.errors && (dtrCapacity.dirty || dtrCapacity.touched)">
          <div [hidden]="!dtrCapacity.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">No. of DTR Meters</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !noOfDtrMeters.errors && (noOfDtrMeters.dirty || noOfDtrMeters.touched),'is-invalid': noOfDtrMeters.errors && (noOfDtrMeters.dirty || noOfDtrMeters.touched)}"
          class="form-control form-control-sm" [(ngModel)]="dtr.noOfDTRMeters" #noOfDtrMeters="ngModel" id="noOfDtrMeters"  name="noOfDtrMeters" required>
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="noOfDtrMeters.errors && (noOfDtrMeters.dirty || noOfDtrMeters.touched)">
          <div [hidden]="!noOfDtrMeters.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">DTR Meter Make</label>
      <div class="col-sm-9">
        <select [ngClass]="{'is-valid': !dtrMeterMake.errors && (dtrMeterMake.dirty || dtrMeterMake.touched),'is-invalid': dtrMeterMake.errors && (dtrMeterMake.dirty || dtrMeterMake.touched)}"
          class="form-control form-control-sm" [(ngModel)]="dtr.dtrMeterMake" #dtrMeterMake="ngModel" id="dtrMeterMake"  name="dtrMeterMake" required>
          <option disabled selected [ngValue]='undefined'>Select</option>
          <option *ngFor="let meter of globalConstants.METER_MAKES" [ngValue]="meter.name">{{meter.value}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="dtrMeterMake.errors && (dtrMeterMake.dirty || dtrMeterMake.touched)">
          <div [hidden]="!dtrMeterMake.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">DTR Meter No</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !dtrMeterNo.errors && (dtrMeterNo.dirty || dtrMeterNo.touched),'is-invalid': dtrMeterNo.errors && (dtrMeterNo.dirty || dtrMeterNo.touched)}"
          class="form-control" [(ngModel)]="dtr.dtrMeterNo" #dtrMeterNo="ngModel" id="dtrMeterNo"  name="dtrMeterNo" required>
        <div class="invalid-feedback" *ngIf="dtrMeterNo.errors && (dtrMeterNo.dirty || dtrMeterNo.touched)">
          <div [hidden]="!dtrMeterNo.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Meter Capacity</label>
      <div class="col-sm-9">
        <input type="text" [ngClass]="{'is-valid': !meterCapacity.errors && (meterCapacity.dirty || meterCapacity.touched),'is-invalid': meterCapacity.errors && (meterCapacity.dirty || meterCapacity.touched)}"
          class="form-control" [(ngModel)]="dtr.dtrMeterCapacity" #meterCapacity="ngModel" id="meterCapacity"  name="meterCapacity" required>
        <div class="invalid-feedback" *ngIf="meterCapacity.errors && (meterCapacity.dirty || meterCapacity.touched)">
          <div [hidden]="!meterCapacity.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Meter S/R</label>
      <div class="col-sm-9">
        <input type="number" [ngClass]="{'is-valid': !meterSR.errors && (meterSR.dirty || meterSR.touched),'is-invalid': meterSR.errors && (meterSR.dirty || meterSR.touched)}"
          class="form-control" [(ngModel)]="dtr.dtrMeterSR" #meterSR="ngModel" id="meterSR"  name="meterSR" [min]="0" required>
        <div class="invalid-feedback" *ngIf="meterSR.errors && (meterSR.dirty || meterSR.touched)">
          <div [hidden]="!meterSR.errors.required">required field</div>
          <div [hidden]="!meterSR.errors.min || meterSR.errors.required">invalid value</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">S/R Date</label>
      <div class="col-sm-9">
        <input type="date" [ngClass]="{'is-valid': !srDate.errors && (srDate.dirty || srDate.touched),'is-invalid': srDate.errors && (srDate.dirty || srDate.touched)}"
          class="form-control" [(ngModel)]="dtr.srDate" #srDate="ngModel" id="srDate"  name="srDate" required (change)="!srDate.errors && srDateChanged()">
        <div class="invalid-feedback" *ngIf="srDate.errors && (srDate.dirty || srDate.touched)">
          <div [hidden]="!srDate.errors.required">required field</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Overall MF</label>
      <div class="col-sm-9">
        <input type="number" [ngClass]="{'is-valid': !overallMF.errors && (overallMF.dirty || overallMF.touched),'is-invalid': overallMF.errors && (overallMF.dirty || overallMF.touched)}"
          class="form-control" [(ngModel)]="dtr.overallMF" #overallMF="ngModel" id="overallMF"  name="overallMF" [min]="1" [max]="10000" step="0.0001" required>
        <div class="invalid-feedback" *ngIf="overallMF.errors && (overallMF.dirty || overallMF.touched)">
          <div [hidden]="!overallMF.errors.required">required field</div>
          <div [hidden]="!overallMF.errors.max || overallMF.errors.required">cannot be more than 10000</div>
          <div [hidden]="!overallMF.errors.min || overallMF.errors.required">cannot be less than 1</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">LT Feeders</label>
      <div class="col-sm-9">
        <input type="number" [ngClass]="{'is-valid': !ltFeeders.errors && (ltFeeders.dirty || ltFeeders.touched),'is-invalid': ltFeeders.errors && (ltFeeders.dirty || ltFeeders.touched)}"
          class="form-control" [(ngModel)]="dtr.ltFeeders" #ltFeeders="ngModel" id="ltFeeders"  name="ltFeeders" [min]="1" required>
        <div class="invalid-feedback" *ngIf="ltFeeders.errors && (ltFeeders.dirty || ltFeeders.touched)">
          <div [hidden]="!ltFeeders.errors.required">required field</div>
          <div [hidden]="!ltFeeders.errors.min || ltFeeders.errors.required">invalid value</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Billing RD No.</label>
      <div class="col-sm-9">
        <input type="number" [ngClass]="{'is-valid': !billingRdNo.errors && (billingRdNo.dirty || billingRdNo.touched),'is-invalid': billingRdNo.errors && (billingRdNo.dirty || billingRdNo.touched)}"
          class="form-control" [(ngModel)]="dtr.billingRDNo" #billingRdNo="ngModel" id="billingRdNo"  name="billingRdNo" [min]="1" required>
        <div class="invalid-feedback" *ngIf="billingRdNo.errors && (billingRdNo.dirty || billingRdNo.touched)">
          <div [hidden]="!billingRdNo.errors.required">required field</div>
          <div [hidden]="!billingRdNo.errors.min || billingRdNo.errors.required">invalid value</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-4 offset-3">
        <button type="submit" class="btn btn-success form-control" (click)=submitClicked(dtrAddForm)>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submitButtonClicked"></span> Submit
        </button>
      </div>
      <div class="col-4 offset-1">
        <button type="reset" class="btn btn-danger form-control">Reset</button>
      </div>
    </div>
  </form>
</fieldset>