<div class="card">
  <div class="card-header bg-inverse text-default text-center">
      Update Password
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <form #updatePasswordForm="ngForm" autocomplete="off">
          <div class="form-group row">
            <label class="col-4 col-form-label">Current Password</label>
            <div class="col-8">
              <input type="password" [ngClass]="{'is-valid': !currentPassword.errors && (currentPassword.dirty || currentPassword.touched),'is-invalid': currentPassword.errors && (currentPassword.dirty || currentPassword.touched)}"
                class="form-control" [(ngModel)]="formData.currentPassword" #currentPassword="ngModel" id="currentPassword"  name="currentPassword" placeholder="Enter Current Password" required (change)="currentPasswordChanged(currentPassword)">
              <div class="invalid-feedback" *ngIf="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)">
                <div *ngIf="currentPassword.errors.required">required field</div>
                <div *ngIf="currentPassword.errors.invalid-password || !currentPassword.errors.required">invalid password</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">New Password</label>
            <div class="col-8">
              <input type="text" [ngClass]="{'is-valid': !newPassword.errors && (newPassword.dirty || newPassword.touched),'is-invalid': newPassword.errors && (newPassword.dirty || newPassword.touched)}"
                class="form-control" [(ngModel)]="formData.newPassword" #newPassword="ngModel" id="newPassword"  name="newPassword" placeholder="Enter New Password" required (change)="newPasswordChanged(newPassword)">
              <div class="invalid-feedback" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
                <div *ngIf="newPassword.errors.required">required field</div>
                <div *ngIf="newPassword.errors.same-password || !newPassword.errors.required">new password can not be same as current password</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Confirm New Password</label>
            <div class="col-8">
              <input type="password" [ngClass]="{'is-valid': !confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched),'is-invalid': confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched)}"
                class="form-control" [(ngModel)]="formData.confirmNewPassword" #confirmNewPassword="ngModel" id="confirmNewPassword"  name="confirmNewPassword" placeholder="Enter Confirm New Password" required 
                validateEqual="newPassword">
              <div class="invalid-feedback" *ngIf="confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched)">
                <div *ngIf="confirmNewPassword.errors.required">required field</div>
                <div *ngIf="confirmNewPassword.errors.validateEqual || !confirmNewPassword.errors.required">password mismatch</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4 offset-4">
              <button type="button" class="btn btn-success form-control" (click)=submitClicked(updatePasswordForm)>Submit</button>
            </div>
            <div class="col-4">
              <button type="reset" class="btn btn-danger form-control" (click)="resetClicked()">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>