#cover{
    background-image: url('/assets/images/grid2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control{
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    border-radius: 0px;
    color: white;
}

#login-container{
    background: dimgrey;
    /* background: transparent; */
    box-shadow: -1px 1px 50px 10px black;
}

.spaceAround{
    display : flex;
    justify-content: space-around;
}