<!-- <eas-header></eas-header>
<div id="content">
  <div id="menubar" class="accordion">
    <ul class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse" href="#settingCollapseMenu">Setting</a>
      <div class="collapse show" id="settingCollapseMenu" data-parent="#menubar">
          <a class="list-group-item list-group-item-action sub-menu" *ngFor="let menu of menus" [ngClass]="{'router-link-active': menu.active}" (click)="menuClicked(menu)" href="javascript:void(0);">{{menu.name}}</a>
          <a class="list-group-item list-group-item-action sub-menu" href="javascript:void(0);" (click)="backClicked()">Back</a>
      </div>
    </ul>
  </div>
  <div id="mainMenu">
      <router-outlet></router-outlet>
  </div>
</div> -->

<eas-header></eas-header>
<nav class="navbar navbar-light bg-light navbar-expand-lg eas-space-between">
    <div>
        <a class="navbar-brand" href="JavaScript:void(0);" (click)="titleClicked()">
            <span class="navbar-brand mb-0 h1">EAS</span>
        </a>
        <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="toggleMenu()">
            <i class="fa fa-bars"></i><span class="sr-only">Toggle Menu</span>
        </button>
    </div>

    <!-- ................................................................................................. -->
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <i class="fa fa-bars"></i>
    </button>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div>
        <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
            <ul class="nav nav-pills nav-fill ml-auto eas-space-around">
                <li class="nav-item" >
                    <a class="nav-link" href="javascript:void(0);" (click)="backClicked()">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <nav id="verticalNavBar" class="accordion">
        <ul class="list-group list-group-flush">
            <a class="sticky-top list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse" href="#settingCollapseMenu">SETTING MENU</a>
            <div class="collapse show" id="settingCollapseMenu" data-parent="#verticalNavBar">
                <a class="list-group-item list-group-item-action" [ngClass]="{'active': menu.active}" *ngFor="let menu of menus" (click)="menuClicked(menu)" href="javascript:void(0);">{{menu.name}}</a>
            </div>
        </ul>
        <div class="footer">
        	<p class="text-white text-center">
                Copyright &copy; All rights reserved <i class="icon-heart" aria-hidden="true"></i> by <a href="https://mpwz.co.in" target="_blank">mpwz.co.in</a>
            </p>
        </div>
    </nav>
    <div id="mainContent">
        <router-outlet></router-outlet>
    </div>
</div>
