/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    /* -webkit-border-radius: 10px; */ 
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    /* -webkit-border-radius: 10px;
    border-radius: 10px; */
    background: #343a40;
}
/* 
::-webkit-scrollbar-track-piece  { 
    background-color: black;
} */

::-webkit-scrollbar:horizontal {
    /* width: 3px; */
    height: 5px;
}
 
::-webkit-scrollbar-track:horizontal {
    background-color: #ebebeb;
    /* -webkit-border-radius: 10px; */ 
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:horizontal {
    /* -webkit-border-radius: 10px;
    border-radius: 10px; */
    background: #343a40;
}

/* ::-webkit-scrollbar-track-piece:horizontal  { 
    background-color: black;
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.backdrop{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
}

.modal-dialog.modal-full{
    min-width: 98%;
}

#content{
    display: flex;
}

#sideMenu{
    background: #343a40;
    flex-grow : 1;
    flex-basis: 15%;
}

#mainMenu{
    flex-grow : 8; 
    flex-basis: 85%;
}

#sideMenu > ul {
    height: 100vh;
    overflow-y: auto;
}

.swal2-content.text-align-left{
    text-align: left;
}

.eas-space-between{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}

.eas-space-around{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}

.eas-space-evenly{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}

.eas-flex-start{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}

.eas-flex-end{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}

.eas-flex-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}