.eas-space-between{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}

.eas-space-around{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}

.eas-space-evenly{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}

.eas-flex-start{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}

.eas-flex-end{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-end !important;
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
}

.eas-flex-center{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    -webkit-box-align: center !important;
}

.required:after{
    color: #d00;
    content: "*";
    margin-left: 3px;
    top: 2px;
    /* font-size: 20px */
    /* position: absolute; */
}

.not-required:after{
    color: #FFFFFF;
    content: "*";
    margin-left: 3px;
    top: 2px;
    /* font-size: 20px */
    /* position: absolute; */
}

.element-size-equal{
    min-width: 170px;
}


.modal-dialog.modal-full{
    min-width: 98%;
}

.swal2-content.text-align-left{
    text-align: left;
}

.was-validated .form-control:valid, .form-control.is-valid, .form-control:invalid, .form-control.is-invalid{
    padding-right: 0.75rem !important;
    background-image: none !important
}

.footer{
    padding-bottom: 3rem !important;
}

.footer p{
    display: none !important;
}