<form #substationAddForm="ngForm" autocomplete="off">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Region</label>
    <div class="col-sm-9">
      <select class="form-control" id="region" name="region">
        <option selected [ngValue]='undefind'>{{user.region.name | uppercase}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Circle</label>
    <div class="col-sm-9">
      <select class="form-control" id="circle"  name="circle" required>
        <option selected>{{user.circle.name | uppercase}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Division</label>
    <div class="col-sm-9">
      <select class="form-control" id="division"  name="division" required>
        <option selected>{{user.division.name | uppercase}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Zone</label>
    <div class="col-sm-9">
      <select [ngClass]="{'is-valid': !zone.errors && (zone.dirty || zone.touched),'is-invalid': zone.errors && (zone.dirty || zone.touched)}"
        class="form-control" [(ngModel)]="substation.zoneId" #zone="ngModel" id="zone"  name="zone" required>
        <option disabled selected [ngValue]='undefind'>Select</option>
        <option *ngFor="let zone of user.zoneList" [value]="zone.id">{{zone.name | uppercase}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="zone.errors && (zone.dirty || zone.touched)">
        <div *ngIf="zone.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Substation Name</label>
    <div class="col-sm-9">
      <input type="text" [ngClass]="{'is-valid': !substationName.errors && (substationName.dirty || substationName.touched),'is-invalid': substationName.errors && (substationName.dirty || substationName.touched)}"
        class="form-control" [(ngModel)]="substation.name" #substationName="ngModel" id="substationName"  name="substationName" required>
      <div class="invalid-feedback" *ngIf="substationName.errors && (substationName.dirty || substationName.touched)">
        <div *ngIf="substationName.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Substation Code</label>
    <div class="col-sm-9">
      <input type="text" [ngClass]="{'is-valid': !substationCode.errors && (substationCode.dirty || substationCode.touched),'is-invalid': substationCode.errors && (substationCode.dirty || substationCode.touched)}"
        class="form-control" [(ngModel)]="substation.code" #substationCode="ngModel" id="substationCode"  name="substationCode" required>
      <div class="invalid-feedback" *ngIf="substationCode.errors && (substationCode.dirty || substationCode.touched)">
        <div *ngIf="substationCode.errors.required">required field</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-5 offset-3">
      <button type="submit" class="btn btn-success form-control" (click)=submitClicked(substationAddForm) [disabled]="loading">Submit</button>
    </div>
    <div class="col-4">
      <button type="reset" class="btn btn-danger form-control">Reset</button>
    </div>
  </div>
</form>
